*/venv/*
output/*
*.pyc
__pycache__/
.mypy_cache/
build/
dist/
main.spec
run.spec
decomp/
*.tar.gz
*.zip
*.xml
*.iml
*.idea
files.db
.directory
bundle.js
bundle.*.js
node_modules/
package-lock.json
export.json
config.toml
keys.toml
banner.*
.eslintcache
database.json
debug.log