# Set this to a long random string
# If empty the captcha will be disabled
captcha_key = "change_me"

# Use this to cheat the captcha by using this code
captcha_cheat = ""

# A secret code to be able to upload
# If empty a code won't be required
code = "change_me"

# Used for the admin page at site.com/admin/password
password = "change_me"

# Max file size allowed
# In megabytes (MB)
max_file_size = 100