:root {
    --color_1: rgb(222, 211, 239);
}

body, html {
    color: white;
    background-color: rgb(81, 81, 81);
    font-family: monospace;
    font-size: 20px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 14rem;
}

img:hover {
    outline: 2px solid white;
}

.button {
    color: var(--color_1);
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}