# Secret key used by the app itself
# Set this to some random long string
app_key = "change_me"

# The directory where files are saved
# It can be an external location like /mnt/storage/harambe
files_dir = "files"

# If true solving a captcha is needed to upload through the web interface
require_captcha = true

# Set this to a long random string for security
captcha_key = "change_me"

# Use this to cheat the captcha for quick access
# If empty no cheat will be accepted
captcha_cheat = ""

# The number of characters in the captcha
# The lower the number the easier it is
captcha_length = 8

# If true a key is needed to upload through the web interface
require_key = false

# Used for the admin page at site.com/admin/password
password = "change_me"

# Max file size allowed
# In megabytes (MB)
max_file_size = 100

# Port for redis
# This is used by the limiter
redis_port = 6379

# The number of requests allowed per minute for each key
key_limit = 3

# If true the file ids will be upper cased
uppercase_ids = false

# If true some randomness is added to the ids to make them more unique
extra_unique_ids = false

# Maximum number of files to keep stored
# The older ones get removed if reached
max_files = 10000

# Maximum total storage usage
# In gigabytes (GB)
max_storage = 10