# Secret key used by the app itself
# Set this to some random long string
app_key = "change_me"

# The directory where files are saved
# It can be an external location like /mnt/storage/harambe
files_dir = "files"

# Set this to a long random string
# If empty the captcha will be disabled
captcha_key = "change_me"

# Use this to cheat the captcha for quick access
# If empty no cheat will be accepted
captcha_cheat = ""

# The number of characters in the captcha
# The lower the number the easier it is
captcha_length = 8

# A list of secret codes to be able to upload
# If empty a code won't be required
codes = ["change_me"]

# Used for the admin page at site.com/admin/password
password = "change_me"

# Max file size allowed
# In megabytes (MB)
max_file_size = 100

# Port for redis
# This is used by the limiter
redis_port = 6379

# The number of requests allowed per minute for each key
key_limit = 3