{% extends "admin_base.jinja" %}

{% block admin_head %}
<title>{{title}}</title>
{% endblock %}

{% block admin_top %}
<div id="menu" class="button" title="Ctrl+M">Menu</div>
<div class="sep">|</div>
<div class="icon_button" id="refresh" title="Refresh this page">🔃</div>
<div class="sep">|</div>
<div class="icon_button" id="random" title="Fetch a random page">🎲</div>
<div class="sep">|</div>

{% if mode == "admin_reactions" %}
<div class="button" id="delete_selected" title="Delete selected items">Delete</div>
<div class="sep">|</div>
<div class="button" id="delete_all" title="Delete all items (from all pages)">Erase</div>
<div class="sep">|</div>
<div title="Total storage stats of all items (on all pages)">{{total}}</div>
<div class="sep">|</div>
{% endif %}
<div title="This is the current page">Page {{page}}</div>
<div class="sep">|</div>

{% if page > 1 %}
<div id="prev_page" title="Go to the previous page" class="button">Prev</div>
{% else %}
<div id="prev_page" class="unselectable strike">Prev</div>
{% endif %}

<div class="sep">|</div>

{% if next_page %}
<div id="next_page" class="button" title="Go to the next page">Next</div>
{% else %}
<div id="next_page" class="unselectable strike">Next</div>
{% endif %}

<div class="sep">|</div>
<select id="page_select" title="Show this number of items per page"></select>
<div class="sep">|</div>
<input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
<div class="sep">|</div>
<div id="clear_filter" class="icon_button">x</div>
{% endblock %}

{% block admin_items %}
<div class="table">
    <div class="table_row table_header">
        <div class="table_cell checkbox"><input id="checkbox" type="checkbox" title="Select or Unselect All"></div>

        <div id="sample" class="table_cell small" title="Show the sample of the item">
            <div>Sample</div>
        </div>

        <div id="post" class="table_cell" title="The post where it was posted">
            <div class="header_text" data-sort="pname" data-sort-page="postname">Post</div>
        </div>

        <div id="value" class="table_cell" title="The value of the reaction">
            <div class="header_text" data-sort="value">Value</div>
        </div>

        <div id="username" class="table_cell" title="The username who did the reaction">
            <div class="header_text" data-sort="uname">User</div>
        </div>

        <div id="date" class="table_cell" title="The date when this reaction was made">
            <div class="header_text" data-sort="date">Date</div>
        </div>
    </div>

    <div id="items_container">
        {% for item in items %}
        <div class="table_row item" data-id="{{item.id}}" data-user_id="{{item.user_id}}"
        data-username="{{item.username}}" data-name="{{item.name}}" data-user_id="{{item.user_id}}"
        data-post="{{item.pname}}" data-date="{{item.date_str}}" data-ago="{{item.ago}}"
        data-value="{{item.value}}" data-uname="{{item.uname}}"
        data-mtype="{{item.pmtype}}" data-full="{{item.pfull}}" data-pname="{{item.ptitle or item.poriginal}}"
        data-title="{{item.ptitle}}" data-original="{{item.poriginal}}">
            <!-- Checkbox -->
            <div class="table_cell checkbox" title="Select this item">
                <input class="select_checkbox" type="checkbox">
            </div>

            <!-- Sample -->
            <div class="table_cell small sample">
                <div title="Click to show the sample. Wheel can be used to scroll text">🔊</div>
            </div>

            <!-- Post -->
            <div class="table_cell">
                <a href="/post/{{item.pname}}" title="{{item.ptitle or item.poriginal}}" class="button post_name">{{item.ptitle or item.poriginal}}</a>
            </div>

            <!-- Value -->
            <div class="table_cell reaction_value reaction_text" title="{{item.value_sample}}">{{item.value_sample}}</div>

            <!-- Username -->
            {% if mode == "admin_reactions" %}
            <div class="table_cell" title="{{item.username}}">
                <div class="admin_user button">{{item.uname}}</div>
            </div>
            {% else %}
            <div class="table_cell" title="{{item.uname}}">
                <div class="admin_user button">{{item.uname}}</div>
            </div>
            {% endif %}

            <!-- Date -->
            <div class="table_cell" title="{{item.date_str}}">{{item.ago}}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}