{% extends "base.jinja" %}

{% block head %}
{% block admin_head %}{% endblock %}
<link rel="stylesheet" href="/static/css/admin.css">
<script src="/static/js/main/admin.js"></script>
{% endblock %}

{% block body %}
<div id="sample_container" class="hidden">
    <div id="sample_title_container">
        <div id="sample_prev" class="sample_title_button">{{icons.prev_sample}}</div>
        <div id="sample_title"></div>
        <div id="sample_next" class="sample_title_button">{{icons.next_sample}}</div>
    </div>

    <div id="sample_content">
        <img id="sample_image" class="sample_content hidden">
        <video id="sample_video" controls poster="/static/img/cover.jpg" class="sample_content hidden"></video>
        <div id="sample_text" class="sample_content hidden"></div>
        <div id="sample_loading" class="sample_content hidden">Loading</div>
    </div>

    <div id="sample_close">Close</div>
</div>

<div id="container">
    <div id="top" class="nowrap">
    {% block admin_top %}{% endblock %}
    </div>

    <div id="items">
    {% block admin_items %}{% endblock %}
    </div>
</div>

{% endblock %}