{% extends "base.html" %}

{% block head %}
<title>Admin</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const page_mode = `admin`
    const page_size = `{{page_size}}`
    const def_page_size = {{def_page_size | tojson}}
</script>

<script src="/static/js/admin.js"></script>
{% endblock %}

{% block body %}
<div id="top">
    <a class="action_button" href="/">&lt;&lt;</a>
    <div class="sep">|</div>
    <div class="action_button" id="select_all" title="Select all files">Select</div>
    <div class="sep">|</div>
    <div class="action_button" id="unselect_all" title="Unselect all files">Unselect</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_selected" title="Delete selected files">Delete</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_all" title="Delete all files (from all pages)">Delete All</div>
    <div class="sep">|</div>
    <div title="Total storage stats of all files (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>
    {% if page > 1 %}
    <a class="linkbutton" href="/admin/{{page - 1}}" title="Go to the previous page">Prev</a>
    {% else %}
    <div class="">Prev</div>
    {% endif %}
    <div class="sep">|</div>
    {% if next_page %}
    <a class="linkbutton" href="/admin/{{page + 1}}" title="Go to the next page">Next</a>
    {% else %}
    <div class="">Next</div>
    {% endif %}
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
</div>

<div id="items">
    <div class="table">
        <div class="table-row table-header">
            <div class="table-cell">Name</div>
            <div id="size" class="table-cell underline">Size</div>
            <div id="age" class="table-cell underline">Age</div>
            <div class="table-cell">Actions</div>
        </div>
        {% for file in files %}
        <div class="table-row item" data-name="{{file.name}}" data-size="{{file.size}}" data-date="{{file.nice_date}}" data-ago="{{file.ago}}" data-size="{{file.size}}" data-size_str="{{file.size_str}}">
            <!-- Checkbox -->
            <div class="table-cell checkbox-cell">
                <input class="select_checkbox" type="checkbox">
            </div>

            <!-- Name -->
            <div class="table-cell">
                <a href="/{{file_path}}/{{file.name}}" target="_blank">{{file.name}}</a>
            </div>

            <!-- Size -->
            <div class="table-cell">{{file.size_str}}</div>

            <!-- Date -->
            <div class="table-cell date" title="{{file.nice_date}}">{{file.ago}}</div>

            <!-- Actions -->
            <div class="table-cell">
                <span class="delete action_button" title="Delete this file">Delete</span>
                <span class="sep"> | </span>
                <span class="delete_above action_button" title="Delete all files above this one">Above</span>
                <span class="sep"> | </span>
                <span class="delete_below action_button" title="Delete all files below this one">Below</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}