{% extends "base.html" %}

{% block head %}
<title>Admin</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const password = `{{ password }}`
</script>

<script src="/static/js/admin.js"></script>
{% endblock %}

{% block body %}
<div id="delete_all">Delete All</div>

<div id="links">
    {% for file in files %}
    <div class="link">
        <a href="/{{ files_dir }}/{{ file.name }}">{{ file.name }}</a>
        <span>({{ file.size }} mb)</span>
        <span>({{ file.ago }})</span>
        <span class="delete" data-name="{{ file.name }}">Delete</span>
    </div>
    {% endfor %}
</div>
{% endblock %}