{% extends "base.jinja" %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = {{mode | tojson | safe}}
    vars.page = {{page}}
    vars.page_size = {{page_size | tojson | safe}}
    vars.def_page_size = {{def_page_size | tojson}}
    vars.sort = {{sort | tojson | safe}}
    vars.next_page = {{next_page | tojson}}
    vars.user_id = {{user_id}}
    vars.max_title_length = {{max_title_length}}
</script>

<script src="/static/js/main/admin.js"></script>
{% endblock %}

{% block body %}
{% if mode == "admin_posts "%}
<template id="template_admin_opts">
    <div class="dialog_container">
        <div id="admin_opts_posts" class="aero_button">Posts</div>
        <div id="admin_opts_reactions" class="aero_button">Reactions</div>
        <div id="admin_opts_users" class="aero_button">Users</div>
        <div id="admin_opts_return" class="aero_button">Return</div>
    </div>
</template>
{% else %}
<template id="template_admin_opts">
    <div class="dialog_container">
        <div id="admin_opts_posts" class="aero_button">Posts</div>
        <div id="admin_opts_reactions" class="aero_button">Reactions</div>
        <div id="admin_opts_return" class="aero_button">Return</div>
    </div>
</template>
{% endif %}

{% if mode == "admin_posts" %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
        <div id="user_opts_user" class="aero_button">User</div>
    </div>
</template>
{% else %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
    </div>
</template>
{% endif %}

<div id="top" class="nowrap">
    <div id="back_btn" class="action_button">Back</div>
    <div class="sep">|</div>
    <div class="action_button" id="refresh" title="Refresh this page">Refresh</div>
    <div class="sep">|</div>

    {% if mode == "admin_posts" %}
        <div class="action_button" id="delete_selected" title="Delete selected item">Delete</div>
        <div class="sep">|</div>
        <div class="action_button" id="delete_all" title="Delete all items (from all pages)">Del All</div>
        <div class="sep">|</div>
    {% endif %}

    <div title="Total storage stats of all items (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
    <div id="prev_page" class="action_button" title="Go to the previous page">Prev</div>
    {% else %}
    <div>Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <div id="next_page" class="action_button" title="Go to the next page">Next</div>
    {% else %}
    <div>Next</div>
    {% endif %}

    <div class="sep">|</div>
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            {% if mode == "admin_posts" %}
            <div class="table_cell checkbox"><input id="checkbox" type="checkbox" title="Select or Unselect All"></div>
            {% endif %}
            <div id="name" class="table_cell underline" data-sort="name" title="The name or id of the post">Name</div>
            <div id="mtype" class="table_cell underline" data-sort="mtype" title="The mime type of the file or the extension">Type</div>
            <div id="title" class="table_cell underline" data-sort="title" title="The title of the post">Title</div>
            <div id="size" class="table_cell underline" data-sort="size" title="The size of the file">Size</div>
            <div id="uploader" class="table_cell underline" data-sort="uploader" title="The name of the user that uploaded this">User</div>
            <div id="date" class="table_cell underline" data-sort="date" title="The date when this post was created">Date</div>
            <div id="views" class="table_cell underline small" data-sort="views" title="The number of times the post has been viewed">Views</div>
            <div id="reactions" class="table_cell underline small" data-sort="reactions" title="The number of reactions the post has">Reactions</div>

            {% if mode == "admin_posts" %}
            <div id="listed" class="table_cell views underline small" data-sort="listed" title="The post appears in the list">Listed</div>
            {% endif %}
        </div>

        {% for item in items %}
        <div class="table_row item" data-name="{{item.name}}"
        data-ext="{{item.ext}}" data-size="{{item.size}}" data-user_id="{{item.user_id}}"
        data-date="{{item.date_3}}" data-ago="{{item.ago}}" data-size="{{item.size}}" data-post_id="{{item.id}}"
        data-size_str="{{item.size_str}}" data-title="{{item.title}}" data-original="{{item.original}}"
        data-full="{{item.full}}" data-uploader="{{item.uploader_str}}" data-views="{{item.views_str}}"
        data-listed="{{item.listed_str}}" data-mtype="{{item.mtype_str}}" data-username="{{item.username}}">
            {% if mode == "admin_posts" %}
            <!-- Checkbox -->
            <div class="table_cell checkbox" title="Select this item">
                <input class="select_checkbox" type="checkbox">
            </div>
            {% endif %}

            <!-- Name -->
            <div class="table_cell">
                <a href="/post/{{item.name}}" title="{{item.show}}">{{item.show}}</a>
            </div>

            <!-- Type -->
            <div class="table_cell" title="{{item.mtype}}">{{item.mtype_str}}</div>

            <!-- Title -->
            <div class="table_cell title" title="{{item.title or item.original}}">{{item.title or item.original}}</div>

            <!-- Size -->
            <div class="table_cell" title="{{item.size_str}}">{{item.size_str}}</div>

            <!-- User -->
            {% if mode == "admin_posts" %}
            <div class="table_cell uploader admin_user action_button" title="{{item.uploader_str}}">{{item.username}}</div>
            {% else %}
            <div class="table_cell uploader admin_user action_button">{{item.uploader_str}}</div>
            {% endif %}

            <!-- Date -->
            <div class="table_cell date" title="{{item.date_3}}">{{item.ago}}</div>

            <!-- Views -->
            <div class="table_cell small" title="{{item.views}}">{{item.views}}</div>

            <!-- Reactions -->
            <div class="table_cell small" title="{{item.num_reactions}}">{{item.num_reactions}}</div>

            {% if mode == "admin_posts" %}
            <!-- Listed -->
            <div class="table_cell small" itle="{{item.listed_str}}">{{item.listed_str}}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}