{% extends "base.html" %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = {{mode | tojson | safe}}
    vars.page_size = {{page_size | tojson | safe}}
    vars.def_page_size = {{def_page_size | tojson}}
    vars.sort = {{sort | tojson | safe}}
    vars.page = {{page}}
    vars.next_page = {{next_page | tojson}}
</script>

<script src="/static/js/msg.js"></script>
<script src="/static/js/admin.js"></script>
{% endblock %}

{% set show_marks = items | selectattr("mark") | list | length > 0 %}

{% block body %}
<template id="template_edit">
    <div class="dialog_container">

    <div>
        <div id="edit_reader_yes" class="aero_button">Reader: Yes</div>
        <div id="edit_reader_no" class="aero_button">Reader: No</div>
    </div>

    <div>
        <div id="edit_lister_yes" class="aero_button">Lister: Yes</div>
        <div id="edit_lister_no" class="aero_button">Lister: No</div>
    </div>

    <div>
        <div id="edit_poster_yes" class="aero_button">Poster: Yes</div>
        <div id="edit_poster_no" class="aero_button">Poster: No</div>
    </div>

    <div>
        <div id="edit_reacter_yes" class="aero_button">Reacter: Yes</div>
        <div id="edit_reacter_no" class="aero_button">Reacter: No</div>
    </div>
    </div>
</template>

<template id="template_admin_opts">
    <div class="dialog_container">
        <div id="admin_opts_posts" class="aero_button">Posts</div>
        <div id="admin_opts_reactions" class="aero_button">Reactions</div>
        <div id="admin_opts_users" class="aero_button">Users</div>
        <div id="admin_opts_return" class="aero_button">Return</div>
    </div>
</template>

{% if mode == "admin_users" %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
        <div id="user_opts_user" class="aero_button">User</div>
    </div>
</template>
{% else %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
    </div>
</template>
{% endif %}

<div id="top" class="nowrap">
    <div id="back_btn" class="action_button">Back</div>
    <div class="sep">|</div>
    <div class="action_button" id="refresh" title="Refresh this page">Refresh</div>
    <div class="sep">|</div>
    <div class="action_button" id="add" title="Add an item">Add</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_selected" title="Delete selected items">Delete</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_all" title="Delete all items (from all pages)">Del Normals</div>
    <div class="sep">|</div>
    <div class="action_button" id="edit" title="Some edit actions">Edit</div>
    <div class="sep">|</div>
    <div title="Total storage stats of all items (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
    <div id="prev_page" class="action_button" title="Go to the previous page">Prev</div>
    {% else %}
    <div >Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <div id="next_page" class="action_button" title="Go to the next page">Next</div>
    {% else %}
    <div>Next</div>
    {% endif %}

    <div class="sep">|</div>
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            <div class="table_cell checkbox"><input id="checkbox" type="checkbox" title="Select or Unselect All"></div>
            <div id="username" class="table_cell underline" data-sort="username" title="The username of the user. It acts as the ID and can't be changed">User</div>
            <div id="limit" class="table_cell small underline" data-sort="rpm" title="Requests per minute the user can make">RPM</div>
            <div id="max" class="table_cell small underline" data-sort="max_size" title="The max size in megabytes this user can upload at once">Max</div>
            <div id="list" class="table_cell underline" data-sort="admin" title="This user is an admin and can use the admin pages">Admin</div>
            <div id="poster" class="table_cell underline" data-sort="poster" title="This user can make posts">Poster</div>
            <div id="reacter" class="table_cell underline" data-sort="reacter" title="This user can react in posts">Reacter</div>
            <div id="lister" class="table_cell underline" data-sort="lister" title="The posts of this user will appear in the list">Lister</div>
            <div id="list" class="table_cell underline" data-sort="reader" title="Can view the list of posts">Reader</div>
            <div id="posts" class="table_cell small underline" data-sort="posts" title="The number of posts this user has done">Posts</div>
            <div id="reactions" class="table_cell small underline" data-sort="reactions" title="The number of reactions this user has done">Reactions</div>

            {% if show_marks %}
            <div id="mark" class="table_cell underline" data-sort="mark" title="A mark added to the end of file names to identify a certain kind of upload">Mark</div>
            {% endif %}

            <div id="reg_date" class="table_cell underline" data-sort="register_date" title="The date when the user was registered">RegDate</div>
            <div id="last_date" class="table_cell underline" data-sort="last_date" title="The date when the user made their latest post">LastDate</div>
            <div class="table_cell actions">Actions</div>
        </div>

        {% for item in items %}
        <div class="table_row item"
        data-username="{{item.username}}"
        data-name="{{item.name}}" data-rpm="{{item.rpm_fill}}"
        data-max_size="{{item.max_size_fill}}" data-reader="{{item.reader_str}}"
        data-mark="{{item.mark}}" data-reg_date="{{item.reg_date_str}}"
        data-last_date="{{item.last_date_str}}" data-admin="{{item.admin_str}}"
        data-lister="{{lister_str}}" data-reacter="{{reacter_str}}">
            <!-- Checkbox -->
            <div class="table_cell checkbox" title="Select this item">
                <input class="select_checkbox" type="checkbox">
            </div>

            <!-- Username -->
            <div class="table_cell admin_username action_button" title="{{item.name}}">{{item.username}}</div>

            <!-- RPM -->
            <div class="table_cell small">{{item.rpm_fill}}</div>

            <!-- Max Size -->
            <div class="table_cell small">{{item.max_size_fill}}</div>

            <!-- Admin -->
            <div class="table_cell">{{item.admin_str}}</div>

            <!-- Poster -->
            <div class="table_cell">{{item.poster_str}}</div>

            <!-- Reacter -->
            <div class="table_cell">{{item.reacter_str}}</div>

            <!-- Lister -->
            <div class="table_cell">{{item.lister_str}}</div>

            <!-- Reader -->
            <div class="table_cell">{{item.reader_str}}</div>

            <!-- Posts -->
            <div class="table_cell small">{{item.num_posts}}</div>

            <!-- Reactions -->
            <div class="table_cell small">{{item.num_reactions}}</div>

            <!-- Mark -->
            {% if show_marks %}
            <div class="table_cell">{{item.mark}}</div>
            {% endif %}

            <!-- Register Date -->
            <div class="table_cell" title="{{item.register_date_str}}">{{item.register_date_str}}</div>

            <!-- Last Date -->
            <div class="table_cell" title="{{item.last_date_str}}">{{item.last_date_str}}</div>

            <!-- Actions -->
            <div class="table_cell actions rowitem">
                <div class="edit action_button" title="Edit this item">E</div>
                <div class="sep"> | </div>
                <div class="delete action_button" title="Delete this item">D</div>
                <div class="sep"> | </div>
                <div class="delete_above action_button" title="Delete all items above this one">A</div>
                <div class="sep"> | </div>
                <div class="delete_below action_button" title="Delete all items below this one">B</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}