<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
        <script src="/static/js/libs/dom.js"></script>
        <script src="/static/js/libs/msg.js"></script>
        <script src="/static/js/libs/dateformat.js"></script>

        <script>
            const App = {}

            App.mode = {{mode | default(0) | tojson | safe}}
            App.is_user = {{is_user | default(0) | tojson}}
            App.is_admin = {{is_admin | default(0) | tojson}}
            App.is_reader = {{is_reader | default(0) | tojson}}
            App.is_mage = {{is_mage | default(0) | tojson}}
            App.user_id = {{user_id | default(0)}}
            App.username = {{username | default(0) | tojson | safe}}
            App.user_name = {{user_name | default(0) | tojson | safe}}
            App.links = {{links | default(0) | tojson}}
            App.page = {{page | default(0)}}
            App.page_size = {{page_size | default(0) | tojson | safe}}
            App.def_page_size = {{def_page_size | default(0) | tojson}}
            App.sort = {{sort | default(0) | tojson | safe}}
            App.next_page = {{next_page | default(0) | tojson}}
            App.used_user_id = {{used_user_id | default(0)}}
            App.max_size = {{max_size | default(0)}}
            App.max_title_length = {{max_title_length | default(0)}}
            App.banner = {{banner | default(0) | tojson | safe}}
            App.max_name_length = {{max_name_length | default(0)}}
            App.max_password_length = {{max_password_length | default(0)}}
            App.max_upload_files = {{max_upload_files | default(0)}}
            App.upload_enabled = {{upload_enabled | default(0) | tojson}}
            App.list_private = {{list_private | default(0) | tojson}}
            App.show_menu_icons = {{show_menu_icons | default(0) | tojson}}
            App.max_pastebin_length = {{max_pastebin_length | default(0)}}
            App.max_description_length = {{max_description_length | default(0)}}
            App.max_filename_length = {{max_filename_length | default(0)}}
            App.themes = {{themes | default(0) | tojson}}
            App.theme = {{theme | default(0) | tojson | safe}}
            App.font_size = {{font_size | default(0) | tojson | safe}}
            App.font_family = {{font_family | default(0) | tojson | safe}}

            {% if post %}
            App.post = {}
            App.post.id = {{post.id | default(0)}}
            App.post.name = {{post.name | default(0) | tojson | safe}}
            App.post.date = {{post.date | default(0)}}
            App.post.title = {{post.title | default(0) | tojson | safe}}
            App.post.original = {{post.original | default(0) | tojson | safe}}
            App.post.original_full = {{post.original_full | default(0) | tojson | safe}}
            App.post.mtype = {{post.mtype | default(0) | tojson | safe}}
            App.post.image_embed = {{post.image_embed | default(0) | tojson}}
            App.post.reactions = {{post.reactions | default(0) | tojson}}
            App.post.text = {{post.text | default(0) | tojson | safe}}
            App.post.zip_embed = {{post.zip_embed | default(0) | tojson}}
            App.post.privacy = {{post.privacy | default(0) | tojson}}
            App.post.youtube_id = {{post.youtube_id | default(0) | tojson | safe}}
            App.post.has_url = {{post.has_url | default(0) | tojson}}
            App.post.description = {{post.description | default(0) | tojson | safe}}
            {% endif %}

            {% if user %}
            App.user = {}
            App.user.id = {{user.id | default(0)}}
            App.user.username = {{user.username | default(0) | tojson | safe}}
            App.user.name = {{user.name | default(0) | tojson | safe}}
            {% endif %}

            App.file_path = {{file_path | default(0) | tojson | safe}}
            App.can_react = {{can_react | default(0) | tojson}}
            App.max_reaction_length = {{max_reaction_length | default(0)}}
            App.post_refresh_interval = {{post_refresh_interval | default(0)}}
            App.post_refresh_times = {{post_refresh_times | default(0)}}
            App.max_post_name_length = {{max_post_name_length | default(0) | tojson}}
            App.max_reaction_name_length = {{max_reaction_name_length | default(0) | tojson}}
            App.media_type = {{media_type | default(0) | tojson | safe}}

            App.image_magic_min_size = {{image_magic_min_size | default(0)}}
            App.audio_magic_min_size = {{audio_magic_min_size | default(0)}}
            App.video_magic_min_size = {{video_magic_min_size | default(0)}}

            {% for key, value in magics.items() %}
            App.{{key}} = {{value | default(0) | tojson}}
            {% endfor %}

            {% for key, value in icons.items() %}
            App.{{key}} = {{value | default(0) | tojson | safe}}
            {% endfor %}
        </script>

        <script src="/static/js/main/common.js"></script>
        <script src="/static/js/main/tooltips.js"></script>
        <script src="/static/js/main/promptext.js"></script>
        <script src="/static/js/main/confirmbox.js"></script>
        <script src="/static/js/main/popmsg.js"></script>

        <script>
            App.startup()
        </script>

        <style>
            :root {
                --font_family: {{font_family | default(0)}};
                --font_size: {{font_size | default(0)}}px;
                --background_color: rgb({{colors.background_color | default(0)}});
                --accent_color: rgb({{colors.accent_color | default(0)}});
                --accent_color_text: rgb({{colors.accent_color_text | default(0)}});
                --text_color: rgb({{colors.text_color | default(0)}});
                --link_color: rgb({{colors.link_color | default(0)}});
                --frame_color: rgba({{colors.text_color | default(0)}}, 0.5);
                --button_border: rgba({{colors.text_color | default(0)}}, 0.25);
                --button_background_color_1: rgb({{colors.button_background_color_1 | default(0)}});
                --button_background_color_2: rgb({{colors.button_background_color_2 | default(0)}});
                --button_background_color_3: rgb({{colors.button_background_color_3 | default(0)}});
                --button_text_color: rgb({{colors.button_text_color | default(0)}});
                --alt_color: rgb({{colors.alt_color | default(0)}});
                --highlight_color: rgba({{colors.text_color | default(0)}}, 0.2);
                --modal_background: rgba({{colors.background_color | default(0)}}, 0.8);
                --contrast_background: rgba({{colors.text_color | default(0)}}, 0.1);
            }
        </style>

        <link rel="stylesheet" href="/static/css/common.css">
        {% block head %}{% endblock %}
    </head>

    <body>
        <template id="template_menu_opts">
            <div class="dialog_container">
                {% if is_user %}
                <div id="menu_opts_upload" class="aero_button">Upload</div>
                {% endif %}

                {% if is_reader or (not list_private) %}
                <div id="menu_opts_fresh" class="aero_button" title="Ctrl + Up">Fresh</div>
                {% endif %}

                <div id="menu_opts_random" class="aero_button" title="Ctrl + Shift + Right">Random</div>

                {% if is_reader or (not list_private) %}
                <div id="menu_opts_list" class="aero_button">List</div>
                {% endif %}

                {% if is_admin %}
                <div id="menu_opts_admin" class="aero_button">Admin</div>
                {% endif %}

                <div id="menu_opts_links" class="aero_button">Links</div>

                {% if is_user %}
                <div id="menu_opts_you" class="aero_button">You</div>
                {% else %}
                <div id="menu_opts_login" class="aero_button">Login</div>
                <div id="menu_opts_register" class="aero_button">Register</div>
                {% endif %}
            </div>
        </template>

        <template id="template_edit_post_opts">
            <div class="dialog_container">
                <div id="edit_post_opts_delete" class="aero_button">Delete</div>
                <div id="edit_post_opts_title" class="aero_button">Edit Title</div>
                <div id="edit_post_opts_description" class="aero_button">Edit Description</div>
                <div id="edit_post_opts_filename" class="aero_button">Edit Filename</div>
                <div id="edit_post_opts_privacy" class="aero_button">Edit Privacy</div>
            </div>
        </template>

        <template id="template_edit_privacy_opts">
            <div class="dialog_container">
                <div id="edit_privacy_opts_public" class="aero_button">Public</div>
                <div id="edit_privacy_opts_private" class="aero_button">Private</div>
            </div>
        </template>

        <template id="template_icons">
            <div id="icons_container">
                <input type="text" id="icons_input" placeholder="Type To Filter">
                <div id="icons"></div>
            </div>
        </template>

        <template id="template_reaction_item">
            <div class="reaction_uname"></div>
            <div class="reaction_value"></div>

            <div class="reaction_right">
                <div class="reaction_ago"></div>
            </div>
        </template>

        <template id="template_react_opts">
            <div class="dialog_container">
                <div id="react_opts_text" class="aero_button">Text</div>
                <div id="react_opts_icon" class="aero_button">Icon</div>
            </div>
        </template>

        <template id="template_reaction_opts">
            <div class="dialog_container">
                <div id="reaction_opts_edit" class="aero_button">Edit</div>
                <div id="reaction_opts_delete" class="aero_button">Delete</div>
            </div>
        </template>

        {% if is_admin %}
        <template id="template_user_opts">
            <div class="dialog_container">
                <div id="user_opts_posts" class="aero_button">Posts</div>
                <div id="user_opts_reactions" class="aero_button">Reactions</div>
                <div id="user_opts_user" class="aero_button">User</div>
            </div>
        </template>
        {% else %}
        <template id="template_user_opts">
            <div class="dialog_container">
                <div id="user_opts_posts" class="aero_button">Posts</div>
                <div id="user_opts_reactions" class="aero_button">Reactions</div>
            </div>
        </template>
        {% endif %}

        {% if username %}
        <template id="template_you_opts">
            <div class="dialog_container">
                <div class="rowitem center_item">
                    <div id="user_name" title="{{username | default(0)}}">{{user_name[:12] | default("") | trim or "Nameless"}}</div>
                </div>

                <div id="you_opts_posts" class="aero_button">Posts</div>
                <div id="you_opts_reactions" class="aero_button">Reactions</div>
                <div id="you_opts_edit_name" class="aero_button">Name</div>
                <div id="you_opts_edit_password" class="aero_button">Password</div>
                <div id="you_opts_edit_settings" class="aero_button">Settings</div>
                <div id="you_opts_logout" class="aero_button">Logout</div>
            </div>
        </template>

        <template id="template_settings">
            <div id="settings_container">
                <div class="settings_item">
                    <div class="settings_label">Theme</div>
                    <select class="settings_widget" id="settings_theme"></select>
                </div>

                <div class="settings_item">
                    <div class="settings_label">Font Size <span class="settings_separator">|</span> <span class="settings_cycle" id="settings_font_size_cycle">🎲</span></div>
                    <input class="settings_widget" type="text" placeholder="Enter value" id="settings_font_size">
                </div>

                <div class="settings_item">
                    <div class="settings_label">Font Family <span class="settings_separator">|</span> <span class="settings_cycle" id="settings_font_family_cycle">🎲</span></div>
                    <input class="settings_widget" type="text" placeholder="Enter value" id="settings_font_family">
                </div>

                <div id="settings_buttons">
                    <div class="settings_button" id="settings_reset">Reset</div>
                    <div class="settings_button" id="settings_apply">Apply</div>
                </div>
            </div>
        </template>
        {% endif %}

        <template id="template_random_opts">
            <div class="dialog_container">
                <div id="random_opts_any" class="aero_button">Any</div>
                <div id="random_opts_video" class="aero_button">Video</div>
                <div id="random_opts_audio" class="aero_button">Audio</div>
                <div id="random_opts_image" class="aero_button">Image</div>
            </div>
        </template>

        <template id="template_list_opts">
            <div class="dialog_container">
                <div id="list_opts_posts" class="aero_button">Posts</div>
                <div id="list_opts_reactions" class="aero_button">Reactions</div>
            </div>
        </template>

        <template id="template_admin_opts">
            <div class="dialog_container">
                <div id="admin_opts_posts" class="aero_button">Posts</div>
                <div id="admin_opts_reactions" class="aero_button">Reactions</div>
                <div id="admin_opts_users" class="aero_button">Users</div>
            </div>
        </template>

        <template id="template_link_opts">
            <div id="links_container" class="dialog_container"></div>
        </template>

        <template id="template_sort_opts">
            <div class="dialog_container">
                <div class="dialog_col">
                    <div id="sort_opts_asc_all" class="aero_button">Sort Asc</div>
                    <div id="sort_opts_desc_all" class="aero_button">Sort Desc</div>
                    <div id="sort_opts_asc_page" class="aero_button">Asc (Page)</div>
                    <div id="sort_opts_desc_page" class="aero_button">Desc (Page)</div>
                </div>
            </div>
        </template>

        <template id="template_post_edit_opts">
            <div class="dialog_container">
                <div class="dialog_col">
                    <div id="post_edit_opts_title" class="aero_button">Edit Title</div>
                    <div id="post_edit_opts_public" class="aero_button">Make Public</div>
                    <div id="post_edit_opts_private" class="aero_button">Make Private</div>
                </div>
            </div>
        </template>

        <template id="template_user_edit_opts">
            <div class="dialog_container">
                <div class="dialog_row">
                    <div id="user_edit_opts_poster_no" class="aero_button">Poster: No</div>
                    <div id="user_edit_opts_poster_yes" class="aero_button">Poster: Yes</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_reacter_yes" class="aero_button">Reacter: Yes</div>
                    <div id="user_edit_opts_reacter_no" class="aero_button">Reacter: No</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_lister_no" class="aero_button">Lister: No</div>
                    <div id="user_edit_opts_lister_yes" class="aero_button">Lister: Yes</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_reader_no" class="aero_button">Reader: No</div>
                    <div id="user_edit_opts_reader_yes" class="aero_button">Reader: Yes</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_mage_no" class="aero_button">Mage: No</div>
                    <div id="user_edit_opts_mage_yes" class="aero_button">Mage: Yes</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_admin_no" class="aero_button">Admin: No</div>
                    <div id="user_edit_opts_admin_yes" class="aero_button">Admin: Yes</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_rpm" class="aero_button">RPM</div>
                    <div id="user_edit_opts_max_size" class="aero_button">Max Size</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_name" class="aero_button">Name</div>
                    <div id="user_edit_opts_mark" class="aero_button">Mark</div>
                </div>

                <div class="dialog_row">
                    <div id="user_edit_opts_username" class="aero_button">Username</div>
                    <div id="user_edit_opts_password" class="aero_button">Password</div>
                </div>
            </div>
        </template>

        {% block body %}{% endblock %}
    </body>
</html>