<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
        <script src="/static/js/libs/dom.js"></script>
        <script src="/static/js/libs/msg.js"></script>
        <script src="/static/js/libs/dateformat.js"></script>

        <script>
            const App = {}

            App.mode = {{mode | default(0) | tojson | safe}}
            App.is_user = {{is_user | default(0) | tojson}}
            App.is_admin = {{is_admin | default(0) | tojson}}
            App.is_reader = {{is_reader | default(0) | tojson}}
            App.is_mage = {{is_mage | default(0) | tojson}}
            App.user_id = {{user_id | default(0)}}
            App.username = {{username | default(0) | tojson | safe}}
            App.user_name = {{user_name | default(0) | tojson | safe}}
            App.links = {{links | default(0) | tojson}}
            App.page = {{page | default(0)}}
            App.page_size = {{page_size | default(0) | tojson | safe}}
            App.def_page_size = {{def_page_size | default(0) | tojson}}
            App.sort = {{sort | default(0) | tojson | safe}}
            App.next_page = {{next_page | default(0) | tojson}}
            App.used_user_id = {{used_user_id | default(0)}}
            App.max_size = {{max_size | default(0)}}
            App.max_title_length = {{max_title_length | default(0)}}
            App.banner = {{banner | default(0) | tojson | safe}}
            App.max_name_length = {{max_name_length | default(0)}}
            App.max_password_length = {{max_password_length | default(0)}}
            App.max_upload_files = {{max_upload_files | default(0)}}
            App.upload_enabled = {{upload_enabled | default(0) | tojson}}
            App.list_private = {{list_private | default(0) | tojson}}
            App.show_menu_icons = {{show_menu_icons | default(0) | tojson}}

            {% if post %}
            App.post_id = {{post.id | default(0)}}
            App.name = {{post.name | default(0) | tojson | safe}}
            App.full = {{post.full | default(0) | tojson | safe}}
            App.date = {{post.date | default(0)}}
            App.title = {{post.title | default(0) | tojson | safe}}
            App.original = {{post.original | default(0) | tojson | safe}}
            App.original_full = {{post.original_full | default(0) | tojson | safe}}
            App.mtype = {{post.mtype | default(0) | tojson | safe}}
            App.image_embed = {{post.image_embed | default(0) | tojson}}
            App.reactions = {{post.reactions | default(0) | tojson}}
            App.text = {{post.text | default(0) | tojson | safe}}
            App.uploader = {{post.uploader | default(0) | tojson | safe}}
            App.zip_embed = {{post.zip_embed | default(0) | tojson}}
            App.privacy = {{post.privacy | default(0) | tojson}}
            {% endif %}

            App.file_path = {{file_path | default(0) | tojson | safe}}
            App.can_react = {{can_react | default(0) | tojson}}
            App.max_reaction_length = {{max_reaction_length | default(0)}}
            App.post_refresh_interval = {{post_refresh_interval | default(0)}}
            App.post_refresh_times = {{post_refresh_times | default(0)}}
            App.max_post_name_length = {{max_post_name_length | default(0) | tojson}}
            App.max_reaction_name_length = {{max_reaction_name_length | default(0) | tojson}}
            App.media_type = {{media_type | default(0) | tojson | safe}}
            App.magic_enabled = {{magic_enabled | default(0) | tojson}}

            App.image_magic_enabled = {{image_magic_enabled | default(0) | tojson}}
            App.audio_magic_enabled = {{audio_magic_enabled | default(0) | tojson}}
            App.video_magic_enabled = {{video_magic_enabled | default(0) | tojson}}
            App.album_magic_enabled = {{album_magic_enabled | default(0) | tojson}}
            App.visual_magic_enabled = {{visual_magic_enabled | default(0) | tojson}}
            App.gif_magic_enabled =   {{gif_magic_enabled | default(0) | tojson}}

            App.image_magic_min_size = {{image_magic_min_size | default(0)}}
            App.audio_magic_min_size = {{audio_magic_min_size | default(0)}}
            App.video_magic_min_size = {{video_magic_min_size | default(0)}}

            App.icon_for_posts = {{icon_for_posts | default(0) | tojson | safe}}
            App.icon_for_reactions = {{icon_for_reactions | default(0) | tojson | safe}}
            App.icon_for_users = {{icon_for_users | default(0) | tojson | safe}}
            App.icon_for_upload = {{icon_for_upload | default(0) | tojson | safe}}
            App.icon_for_public = {{icon_for_public | default(0) | tojson | safe}}
            App.icon_for_private = {{icon_for_private | default(0) | tojson | safe}}
            App.icon_for_edit_user = {{icon_for_edit_user | default(0) | tojson | safe}}
            App.icon_for_edit = {{icon_for_edit | default(0) | tojson | safe}}
            App.icon_for_delete = {{icon_for_delete | default(0) | tojson | safe}}
            App.icon_for_deleted = {{icon_for_deleted | default(0) | tojson | safe}}
            App.icon_for_fresh = {{icon_for_fresh | default(0) | tojson | safe}}
            App.icon_for_random = {{icon_for_random | default(0) | tojson | safe}}
            App.icon_for_logout = {{icon_for_logout | default(0) | tojson | safe}}
        </script>

        <script src="/static/js/main/common.js"></script>
        <script src="/static/js/main/tooltips.js"></script>
        <script src="/static/js/main/promptext.js"></script>
        <script src="/static/js/main/confirmbox.js"></script>
        <script src="/static/js/main/popmsg.js"></script>

        <script>
            App.setup_keyboard()
            App.setup_mouse()
        </script>

        <style>
            :root {
                --font_family: {{font_family | default(0)}};
                --background_color: rgb({{background_color | default(0)}});
                --accent_color: rgb({{accent_color | default(0)}});
                --text_color: rgb({{text_color | default(0)}});
                --link_color: rgb({{link_color | default(0)}});
                --frame_color: rgba({{text_color | default(0)}}, 0.5);
                --button_border: rgba({{text_color | default(0)}}, 0.25);
                --alt_color: rgb({{alt_color | default(0)}});
                --highlight_color: rgba({{text_color | default(0)}}, 0.2);
                --modal_background: rgba({{background_color | default(0)}}, 0.8);
                --contrast_background: rgba({{text_color | default(0)}}, 0.1);
                --font_size: {{font_size | default(0)}}px;
                --admin_font_size: {{admin_font_size | default(0)}}px;
            }
        </style>

        <link rel="stylesheet" href="/static/css/common.css">
        {% block head %}{% endblock %}
    </head>

    <body>
        <template id="template_menu_opts">
            <div class="dialog_container">
                {% if is_reader or (not list_private) %}
                <div id="menu_opts_fresh" class="aero_button" title="Ctrl+ArrowUp">Fresh</div>
                <div id="menu_opts_random" class="aero_button" title="Ctrl+ArrowDown">Random</div>
                {% endif %}

                {% if is_user %}
                <div id="menu_opts_upload" class="aero_button">Upload</div>
                {% endif %}

                {% if is_reader or (not list_private) %}
                <div id="menu_opts_list" class="aero_button">List</div>
                {% endif %}

                {% if is_admin %}
                <div id="menu_opts_admin" class="aero_button">Admin</div>
                {% endif %}

                <div id="menu_opts_links" class="aero_button">Links</div>

                {% if is_user %}
                <div id="menu_opts_you" class="aero_button">You</div>
                {% else %}
                <div id="menu_opts_login" class="aero_button">Login</div>
                <div id="menu_opts_register" class="aero_button">Register</div>
                {% endif %}
            </div>
        </template>

        <template id="template_edit_post_opts">
            <div class="dialog_container">
                <div id="edit_post_opts_delete" class="aero_button">Delete</div>
                <div id="edit_post_opts_title" class="aero_button">Edit Title</div>
                <div id="edit_post_opts_privacy" class="aero_button">Edit Privacy</div>
            </div>
        </template>

        <template id="template_edit_privacy_opts">
            <div class="dialog_container">
                <div id="edit_privacy_opts_public" class="aero_button">Public</div>
                <div id="edit_privacy_opts_private" class="aero_button">Private</div>
            </div>
        </template>

        <template id="template_icons">
            <div id="icons_container">
                <input type="text" id="icons_input" placeholder="Type To Filter">
                <div id="icons"></div>
            </div>
        </template>

        <template id="template_reaction_item">
            <div class="reaction_uname"></div>
            <div class="reaction_value"></div>

            <div class="reaction_right">
                <div class="reaction_ago"></div>
            </div>
        </template>

        <template id="template_react_opts">
            <div class="dialog_container">
                <div id="react_opts_text" class="aero_button">Text</div>
                <div id="react_opts_icon" class="aero_button">Icon</div>
            </div>
        </template>

        <template id="template_reaction_opts">
            <div class="dialog_container">
                <div id="reaction_opts_edit" class="aero_button">Edit</div>
                <div id="reaction_opts_delete" class="aero_button">Delete</div>
            </div>
        </template>

        {% if is_admin %}
        <template id="template_user_opts">
            <div class="dialog_container">
                <div id="user_opts_posts" class="aero_button">Posts</div>
                <div id="user_opts_reactions" class="aero_button">Reactions</div>
                <div id="user_opts_user" class="aero_button">User</div>
            </div>
        </template>
        {% else %}
        <template id="template_user_opts">
            <div class="dialog_container">
                <div id="user_opts_posts" class="aero_button">Posts</div>
                <div id="user_opts_reactions" class="aero_button">Reactions</div>
            </div>
        </template>
        {% endif %}

        {% if username %}
        <template id="template_you_opts">
            <div class="dialog_container">
                <div class="rowitem">
                    <div id="user_name" title="{{username | default(0)}}">{{user_name[:12] | default("") | trim or "Nameless"}}</div>
                </div>

                <div id="you_opts_posts" class="aero_button">Posts</div>
                <div id="you_opts_reactions" class="aero_button">Reactions</div>
                <div id="you_opts_edit_name" class="aero_button">Name</div>
                <div id="you_opts_edit_password" class="aero_button">Password</div>
                <div id="you_opts_logout" class="aero_button">Logout</div>
            </div>
        </template>
        {% endif %}

        <template id="template_list_opts">
            <div class="dialog_container">
                <div id="list_opts_posts" class="aero_button">Posts</div>
                <div id="list_opts_reactions" class="aero_button">Reactions</div>
            </div>
        </template>

        <template id="template_admin_opts">
            <div class="dialog_container">
                <div id="admin_opts_posts" class="aero_button">Posts</div>
                <div id="admin_opts_reactions" class="aero_button">Reactions</div>
                <div id="admin_opts_users" class="aero_button">Users</div>
            </div>
        </template>

        <template id="template_link_opts">
            <div id="links_container" class="dialog_container"></div>
        </template>

        <template id="template_sort_opts">
            <div class="dialog_container">
                <div class="dialog_col">
                    <div id="sort_opts_asc" class="aero_button">Sort Asc</div>
                    <div id="sort_opts_desc" class="aero_button">Sort Desc</div>
                </div>
            </div>
        </template>

        {% block body %}{% endblock %}
    </body>
</html>