{% extends "base.html" %}

{% block head %}
<title>Admin</title>
<link rel="stylesheet" href="/static/css/dashboard.css">

<script>
    const password = `{{ password }}`
</script>

<script src="/static/js/dashboard.js"></script>
{% endblock %}

{% block body %}
<div id="top">
    <div id="delete_all">Delete All</div>
    <div>Total: {{ total }}</div>
    <div>|</div>
    <div>Page {{ page }}</div>
    {% if page > 1 %}
    <div>|</div>
    <a class="linkbutton" href="/dashboard/{{ password }}/{{ page - 1}}">Prev</a>
    {% endif %}
    {% if next_page %}
    <div>|</div>
    <a class="linkbutton" href="/dashboard/{{ password }}/{{ page + 1}}">Next</a>
    {% endif %}
</div>

<div id="links">
    {% for file in files %}
    <div class="link">
        <a href="/file/{{ file.name }}">{{ file.name }}</a>
        <span>({{ file.size }} mb)</span>
        <span>({{ file.ago }})</span>
        <span class="delete" data-name="{{ file.name }}">Delete</span>
    </div>
    {% endfor %}
</div>
{% endblock %}