{% extends "base.html" %}

{% block head %}
<title>Edit User</title>
<link rel="stylesheet" href="/static/css/edit_user.css">

<script>
    const vars = {}
    vars.username = `{{user.username}}`
</script>

<script src="/static/js/edit_user.js"></script>
{% endblock %}

{% block body %}
<div>
    <div>{{title}}</div>

    <form id="form" action="/edit_user/{{user.username}}" method="post">
        {% if user.username %}
        <input type="text" id="username" name="username" placeholder="Username" value="{{user.username}}" disabled>
        {% else %}
        <input type="text" id="username" name="username" placeholder="Username">
        {% endif %}
        <input type="text" id="password" name="password" placeholder="Password" value="">
        <input type="text" id="name" name="name" placeholder="Name" value="{{user.name}}">
        <input type="text" id="rpm" name="rpm" placeholder="Requests Per Minute" value="{{user.rpm}}">
        <input type="text" id="max_size" name="max_size" placeholder="Max File Size" value="{{user.max_size}}">
        <input type="text" id="mark" name="mark" placeholder="Mark on Files" value="{{user.mark}}">

        <div class="row">
            <div>Is an Admin</div>

            {%if user.admin %}
            <input id="admin" name="admin" type="checkbox" checked>
            {% else %}
            <input id="admin" name="admin" type="checkbox">
            {% endif %}
        </div>

        <div class="row">
            <div>Can See The List</div>

            {% if (not user) or user.can_list %}
            <input id="can_list" name="can_list" type="checkbox" checked>
            {% else %}
            <input id="can_list" name="can_list" type="checkbox">
            {% endif %}
        </div>

        <input type="submit" value="Submit">

        <div id="links">
            <a href="/admin/users">Users</a>
            <a href="/edit_user">New User</a>

            {% if user.username %}
            <div id="delete" class="link" href="/delete_user/{{user.username}}">Delete User</div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
