{% extends "base.jinja" %}

{% block head %}
<title>Edit User</title>
<link rel="stylesheet" href="/static/css/edit_user.css">
<script src="/static/js/main/edit_user.js"></script>
{% endblock %}

{% block body %}
<div>
    <div id="title">{{title}}</div>

    <form id="form" action="/edit_user/{{user.id}}" method="post">
        <div class="row">
            <div>Username</div>
            <input type="text" id="username" name="username" value="{{user.username}}" placeholder="Text">
        </div>

        <div class="row">
            <div>Name</div>
            <input type="text" id="name" name="name" value="{{user.name}}" placeholder="Text">
        </div>

        <div class="row">
            <div>Max Requests Per Minute</div>
            <input type="text" id="rpm" name="rpm" value="{% if user and (user.rpm > 0) %}{{user.rpm}}{% endif %}" placeholder="Number">
        </div>

        <div class="row">
            <div>Max File Size</div>
            <input type="text" id="max_size" name="max_size" value="{% if user and (user.max_size > 0) %}{{user.max_size}}{% endif %}" placeholder="Number">
        </div>

        <div class="row">
            <div>Mark On Files</div>
            <input type="text" id="mark" name="mark" value="{{user.mark}}" placeholder="Text">
        </div>

        <div class="row">
            <div>Password</div>
            <input type="password" id="password" name="password" value="" placeholder="Text">
        </div>

        <div class="checkbox">
            <div>Is an Admin</div>

            {%if user.admin %}
            <input id="admin" name="admin" type="checkbox" checked>
            {% else %}
            <input id="admin" name="admin" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can Make Posts</div>

            {% if (not user) or (user and user.poster) %}
            <input id="poster" name="poster" type="checkbox" checked>
            {% else %}
            <input id="poster" name="poster" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can React To Posts</div>

            {% if (not user) or (user and user.reacter) %}
            <input id="reacter" name="reacter" type="checkbox" checked>
            {% else %}
            <input id="reacter" name="reacter" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can See The List</div>

            {% if (not user) or (user and user.reader) %}
            <input id="reader" name="reader" type="checkbox" checked>
            {% else %}
            <input id="reader" name="reader" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Appears In Lists</div>

            {% if (not user) or (user and user.lister) %}
            <input id="lister" name="lister" type="checkbox" checked>
            {% else %}
            <input id="lister" name="lister" type="checkbox">
            {% endif %}
        </div>

        <input type="submit" value="Submit">
    </form>

    <div id="links">
        <div id="menu" class="button">Menu</div>
        <a href="/admin/posts">Posts</a>
        <a href="/admin/users">Users</a>
        <a href="/edit_user">Add</a>

        {% if user and user.username %}
        <div id="delete" class="link" href="/delete_user/{{user.id}}">Delete</div>
        {% endif %}
    </div>
</div>
{% endblock %}
