{% extends "base.html" %}

{% block head %}
<title>Edit User</title>
<link rel="stylesheet" href="/static/css/edit_user.css">

<script>
    const vars = {}
    vars.username = {{username | tojson | safe}}
</script>

<script src="/static/js/edit_user.js"></script>
{% endblock %}

{% block body %}
<div>
    <div>{{title}}</div>

    <form id="form" action="/edit_user/{{user.username}}" method="post">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password" value="">
        <input type="text" id="name" name="name" placeholder="Name" value="{{user.name}}">
        <input type="text" id="rpm" name="rpm" placeholder="Requests Per Minute" value="{% if user and (user.rpm > 0) %}{{user.rpm}}{% endif %}">
        <input type="text" id="max_size" name="max_size" placeholder="Max File Size" value="{% if user and (user.max_size > 0) %}{{user.max_size}}{% endif %}">
        <input type="text" id="mark" name="mark" placeholder="Mark on Files" value="{{user.mark}}">

        <div class="checkbox">
            <div>Is an Admin</div>

            {%if user.admin %}
            <input id="admin" name="admin" type="checkbox" checked>
            {% else %}
            <input id="admin" name="admin" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can Make Posts</div>

            {% if (not user) or (user and user.poster) %}
            <input id="poster" name="poster" type="checkbox" checked>
            {% else %}
            <input id="poster" name="poster" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can React To Posts</div>

            {% if (not user) or (user and user.reacter) %}
            <input id="reacter" name="reacter" type="checkbox" checked>
            {% else %}
            <input id="reacter" name="reacter" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Can See The List</div>

            {% if (not user) or (user and user.reader) %}
            <input id="reader" name="reader" type="checkbox" checked>
            {% else %}
            <input id="reader" name="reader" type="checkbox">
            {% endif %}
        </div>

        <div class="checkbox">
            <div>Activity Appears In The Lists</div>

            {% if (not user) or (user and user.lister) %}
            <input id="lister" name="lister" type="checkbox" checked>
            {% else %}
            <input id="lister" name="lister" type="checkbox">
            {% endif %}
        </div>

        <input type="submit" value="Submit">
    </form>

    <div id="links">
        <a href="/">Return</a>
        <a href="/admin/posts">Posts</a>
        <a href="/admin/users">Users</a>
        <a href="/edit_user">Add</a>

        {% if user and user.username %}
        <div id="delete" class="link" href="/delete_user/{{user.username}}">Delete</div>
        {% endif %}
    </div>
</div>
{% endblock %}
