{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{main_title}}</title>
<link rel="stylesheet" href="static/css/index.css">

<script>
    const vars = {}
    vars.mode = `index`
    vars.max_size = {{max_size}}
    vars.max_title_length = {{max_title_length}}
    vars.banner = {{banner | tojson | safe}}
    vars.is_user = {{is_user | tojson}}
    vars.links = {{links | tojson}}
    vars.username = {{username | tojson | safe}}
    vars.user_name = {{user_name | tojson | safe}}
    vars.max_name_length = {{max_name_length}}
    vars.max_password_length = {{max_password_length}}
    vars.user_id = {{user_id}}
</script>

<script src="/static/js/main/index.js"></script>
{% endblock %}

{% block body %}
<template id="template_links">
    <div id="links_container" class="dialog_container"></div>
</template>

<template id="template_you_opts">
    <div class="dialog_container">
        <div class="rowitem">
            <div id="user_name">{{user_name[:12] | trim}}</div>
            <div class="sep">|</div>
            {{username[:12] | trim}}
        </div>

        <div id="you_opts_posts" class="aero_button">Posts</div>
        <div id="you_opts_reactions" class="aero_button">Reactions</div>
        <div id="you_opts_edit_name" class="aero_button">Change Name</div>
        <div id="you_opts_edit_password" class="aero_button">Change Password</div>
        <div id="you_opts_logout" class="aero_button">Logout</div>
    </div>
</template>

<div id="main">
    <div id="info">
        {% if is_user and show_max_size %}
        <div id="file_size">Max size: {{max_size_str}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="/static/img/banners/{{banner}}" title="{{image_tooltip}}">
    <video id="video" preload="none" class="hidden" controls poster="/static/img/cover.jpg"></video>
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        {% if is_user and upload_enabled %}
        <div id="picker">
            <input id="file" type="file" name="file" required max-file-size="{{max_size_str}}mb">
        </div>
        {% endif %}

        {% if allow_titles and is_user and upload_enabled %}
        <input id="title" type="text" name="title" placeholder="Enter a Title (Optional)">
        {% endif %}

        <div id="buttons">
            {% if is_user and upload_enabled %}
            <button id="submit_btn" type="button">Upload</button>
            {% endif %}
            {% if is_user and show_list %}
            <button type="button" id="explore_btn">Explore</button>
            {% endif %}

            {% if links | length > 0 %}
            <button type="button" id="links_btn">Links</button>
            {% endif %}

            {% if is_user %}
            <button type="button" id="you_btn">You</button>
            {% else %}
            <button type="button" id="login_btn">Login</button>
            <button type="button" id="register_btn">Register</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}