{% extends "base.html" %}

{% block head %}
<title>{{main_title}}</title>

<style>
    :root {
        --background_color: {{background_color}};
        --accent_color: {{accent_color}};
        --font_color: {{font_color}};
        --text_color: {{font_color}};
        --link_color: {{link_color}};
        --font_family: {{font_family}};
    }
</style>

<link rel="stylesheet" href="static/css/index.css">

<script>
    const vars = {}
    vars.max_size = {{max_size}}
    vars.max_title_length = {{max_title_length}}
    vars.image_name = `{{image_name}}`
    vars.is_user = {{is_user | tojson}}
</script>

<script src="static/js/index.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    <div id="info">
        {% if show_max_file_size %}
        <div id="file_size">Max size: {{max_file_size}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="static/img/{{image_name}}" title="{{image_tooltip}}">
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        <div id="links">
            {% if show_history %}
            <a class="link" href="/history">History</a>
            {% endif %}

            {% if show_list %}
            <a class="link" href="/list">List</a>
            {% endif %}

            {% if show_admin %}
            <a class="link" href="/admin">Admin</a>
            <a class="link" href="/users">Users</a>
            {% endif %}

            {% for link in links %}
            <a class="link" href="{{link.url}}" target="{{link.target}}">{{link.name}}</a>
            {% endfor %}

            {% if logged_in %}
            <a class="link" href="/logout">Logout</a>
            {% else %}
            <a class="link" href="/login">Login</a>
            {% endif %}
        </div>

        <div id="picker">
            <input id="file" type="file" name="file" required max-file-size="{{max_file_size}}MB">
        </div>

        {% if allow_titles %}
        <input id="title" type="text" name="title" placeholder="Enter a Title (Optional)">
        {% endif %}

        {% if captcha %}
        <div id="captcha">
            {{captcha_html(captcha)|safe}}
        </div>
        {% endif %}

        <button type="submit" name="submit">Upload</button>
    </form>
</div>
{% endblock %}