{% extends "base.html" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{main_title}}</title>
<link rel="stylesheet" href="static/css/index.css">

<script>
    const vars = {}
    vars.max_size = {{max_size}}
    vars.max_title_length = {{max_title_length}}
    vars.image_name = {{image_name | tojson | safe}}
    vars.is_user = {{is_user | tojson}}
</script>

<script src="/static/js/msg.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block body %}
{% if links | length > 0 %}
<template id="template_links">
    <div>Links</div>

    <div class="dialog_container">
        {% for link in links %}
        <a href="{{link.url}}" target="{{link.target}}" class="dialog_button">{{link.name}}</a>
        {% endfor %}
    </div>
</template>
{% endif %}

<div id="main">
    <div id="info">
        {% if show_max_size %}
        <div id="file_size">Max size: {{max_size_str}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="/static/img/{{image_name}}" title="{{image_tooltip}}">
    <video id="video" preload="none" class="hidden" controls poster="/static/img/cover.jpg"></video>
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        <div id="links">
            {% if show_list %}
            <a class="link" href="/fresh">Fresh</a>
            <a class="link" href="/list">List</a>
            <a class="link" href="/random">Random</a>
            {% endif %}

            {% if show_admin %}
            <a class="link" href="/admin">Admin</a>
            {% endif %}

            {% if links | length > 0 %}
            <div id="more_links" class="button">Links</div>
            {% endif %}

            {% if is_user %}
            <a class="link" href="/you">You</a>
            {% else %}
            <a class="link" href="/login">Login</a>
            {% endif %}
        </div>

        <div id="picker">
            <input id="file" type="file" name="file" required max-file-size="{{max_size_str}}mb">
        </div>

        {% if allow_titles %}
        <input id="title" type="text" name="title" placeholder="Enter a Title (Optional)">
        {% endif %}

        {% if captcha %}
        <div id="captcha">
            {{captcha_html(captcha)|safe}}
        </div>
        {% endif %}

        <button type="submit" name="submit">Upload</button>
    </form>
</div>
{% endblock %}