{% extends "base.html" %}

{% block head %}
<title>Upload</title>
<link rel="stylesheet" href="static/css/style.css">

<script>
    const max_size = {{ max_size }}
</script>

<script src="static/js/index.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    {% if show_image %}
    <img id="image" src="static/img/cat.jpg">
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        <div id="picker">
            <input id="file" type="file" name="file" required>
        </div>

        {% if captcha %}
        <div id="captcha">
            {{ captcha_html(captcha)|safe }}
        </div>
        {% endif %}

        {% if require_key %}
        <div id="bottom">
            <input id="key" type="text" name="key" placeholder="Enter the key" required>
            <button type="submit" name="submit">Upload</button>
        </div>
        {% else %}
        <button type="submit" name="submit">Upload</button>
        {% endif %}
    </form>
</div>
{% endblock %}