{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{main_title}}</title>
<link rel="stylesheet" href="static/css/index.css">

<script>
    vars.mode = `index`
    vars.max_size = {{max_size}}
    vars.max_title_length = {{max_title_length}}
    vars.banner = {{banner | tojson | safe}}
    vars.max_name_length = {{max_name_length}}
    vars.max_password_length = {{max_password_length}}
</script>

<script src="/static/js/main/index.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    <div id="info">
        {% if is_user and show_max_size %}
        <div id="file_size">Max size: {{max_size_str}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="/static/img/banners/{{banner}}" title="{{image_tooltip}}">
    <video id="video" preload="none" class="hidden" controls poster="/static/img/cover.jpg"></video>
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        {% if is_user and upload_enabled %}
        <div id="zip" title="Compress the file into a zip archive">
            <div>Compress File</div>
            <input id="compress" name="compress" type="checkbox">
        </div>

        <div id="picker">
            <input id="file" type="file" name="file" required max-file-size="{{max_size_str}}mb">
        </div>
        {% endif %}

        {% if allow_titles and is_user and upload_enabled %}
        <input id="title" type="text" name="title" placeholder="Enter a Title (Optional)">
        {% endif %}

        <div id="buttons">
            {% if is_user and upload_enabled %}
            <button id="submit_btn" type="button" title="Upload the file">🔼&nbsp;&nbsp;Upload</button>
            {% endif %}

            <button type="button" id="menu_btn" title="Ctrl+M">🧭&nbsp;&nbsp;Menu</button>

            {% if not is_user %}
            <button type="button" id="login_btn" title="Login to your user account">Login</button>
            <button type="button" id="register_btn" title="Register a new account">Register</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}