{% extends "base.html" %}

{% block head %}
<title>List</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = `{{mode}}`
    vars.page_size = `{{page_size}}`
    vars.def_page_size = {{def_page_size | tojson}}
</script>

<script src="/static/js/admin.js"></script>
{% endblock %}

{% block body %}
<div id="top">
    <a class="action_button" href="/">Back</a>
    <div class="sep">|</div>
    <div title="Total storage stats of all files (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
        {% if page > 2 %}
        <a class="linkbutton" href="/{{mode}}/{{page - 1}}" title="Go to the previous page">Prev</a>
        {% else %}
        <a class="linkbutton" href="/{{mode}}" title="Go to the previous page">Prev</a>
        {% endif %}
    {% else %}
    <div class="">Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <a class="linkbutton" href="/{{mode}}/{{page + 1}}" title="Go to the next page">Next</a>
    {% else %}
    <div class="">Next</div>
    {% endif %}

    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            <div class="table_cell">Name</div>
            <div class="table_cell">Title</div>
            <div class="table_cell">Uploader</div>
            <div class="table_cell">Size</div>
            <div id="date" class="table_cell underline">Date</div>
            <div id="views" class="table_cell views">Views</div>
        </div>
        {% for file in files %}
        <div class="table_row item" data-name="{{file.name}}" data-size="{{file.size}}" data-date="{{file.date_3}}" data-ago="{{file.ago}}" data-size="{{file.size}}" data-size_str="{{file.size_str}}" data-title="{{file.title}}" data-original="{{file.original}}" data-uploader="{{file.uploader or 'Anon'}}">
            <!-- Name -->
            <div class="table_cell">
                <a href="/post/{{file.name}}" target="_blank" title="{{file.full}}">{{file.full}}</a>
            </div>

            <!-- Title -->
            <div class="table_cell" title="{{file.title or file.original}}">{{file.title or file.original}}</div>

            <!-- Uploader -->
            <div class="table_cell">{{file.uploader or 'Anon'}}</div>

            <!-- Size -->
            <div class="table_cell">{{file.size_str}}</div>

            <!-- Date -->
            <div class="table_cell date" title="{{file.date_3}}">{{file.ago}}</div>

            <!-- Views -->
            <div class="table_cell views" title="{{file.date_3}}">{{file.views}}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}