{% extends "base.html" %}

{% block head %}
<title>List</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = `list`
    vars.page_size = `{{page_size}}`
    vars.def_page_size = {{def_page_size | tojson}}
    vars.sort = `{{sort}}`
    vars.page = {{page}}
</script>

<script src="/static/js/admin.js"></script>
{% endblock %}

{% block body %}
<div id="top">
    <a class="action_button" href="{{back}}">Back</a>
    <div class="sep">|</div>
    <div class="action_button" id="refresh" title="Refresh this page">Refresh</div>
    <div class="sep">|</div>
    <div title="Total storage stats of all posts (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
        {% if page > 2 %}
        <a class="linkbutton" href="/list/{{page - 1}}?page_size={{page_size}}" title="Go to the previous page">Prev</a>
        {% else %}
        <a class="linkbutton" href="/list?page_size={{page_size}}" title="Go to the previous page">Prev</a>
        {% endif %}
    {% else %}
    <div class="">Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <a class="linkbutton" href="/list/{{page + 1}}?page_size={{page_size}}" title="Go to the next page">Next</a>
    {% else %}
    <div class="">Next</div>
    {% endif %}

    <div class="sep">|</div>
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            <div class="table_cell underline" data-sort="name" title="Name of the post">Name</div>
            <div class="table_cell underline" data-sort="title" title="Title of the post">Title</div>
            <div class="table_cell underline" data-sort="uploader" title="The user who uploaded this">Uploader</div>
            <div class="table_cell underline" data-sort="size" title="The size of the file">Size</div>
            <div id="date" class="table_cell underline" data-sort="date" title="The date when it was posted">Date</div>
            <div id="views" class="table_cell underline" data-sort="views" title="The number of times the post has been viewed">Views</div>
        </div>

        {% for item in items %}
        <div class="table_row item" data-name="{{item.name}}" data-size="{{item.size}}" data-date="{{item.date_3}}" data-ago="{{item.ago}}" data-size="{{item.size}}" data-size_str="{{item.size_str}}" data-title="{{item.title}}" data-original="{{item.original}}" data-uploader="{{item.uploader or 'Anon'}}" data-view="{{item.views_str}}">
            <!-- Name -->
            <div class="table_cell">
                <a href="/post/{{item.name}}" target="_blank" title="{{item.show}}">{{item.show}}</a>
            </div>

            <!-- Title -->
            <div class="table_cell" title="{{item.title or item.original}}">{{item.title or item.original}}</div>

            <!-- Uploader -->
            <div class="table_cell">{{item.uploader or 'Anon'}}</div>

            <!-- Size -->
            <div class="table_cell">{{item.size_str}}</div>

            <!-- Date -->
            <div class="table_cell date" title="{{item.date_3}}">{{item.ago}}</div>

            <!-- Views -->
            <div class="table_cell" title="Views: {{item.views}} - Reactions: {{item.num_reactions}}">{{item.views_str}}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}