{% extends "base.j2" %}

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="static/css/login.css">
<script src="/static/js/main/login.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    {% if message %}
    <div id="message">{{message}}</div>
    {% endif %}

    <form id="form" action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" id="login" value="Login">
    </form>
</div>
{% endblock %}