{% extends "base.html" %}

{% block head %}
<title>Message</title>
<link rel="stylesheet" href="/static/css/message.css">

<script>
    let mode = `{{ mode }}`
    let data = `{{ data }}`
</script>

<script src="/static/js/message.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    <div id="message">
    {{message|safe}}
    </div>

    {% if mode == "upload" %}
    <div id="buttons">
        <div id="copy" class="button">Copy to Clipboard</div>
        <div id="new_tab" class="button">Open In New Tab</div>
    </div>
    {% endif %}

    <a href="/"><img src="/static/img/return.jpg"></a>
</div>
{% endblock %}