{% extends "base.html" %}

{% block head %}
<title>Message</title>

<style>
    :root {
        --background_color: {{background_color}};
        --accent_color: {{accent_color}};
        --font_color: {{font_color}};
        --text_color: {{font_color}};
        --link_color: {{link_color}};
        --font_family: {{font_family}};
    }
</style>

<link rel="stylesheet" href="/static/css/message.css">

<script>
    const vars = {}
    vars.mode = `{{mode}}`
    vars.data = `{{data}}`
</script>

<script src="/static/js/message.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    <div id="message">
        {% if mode == "upload" %}
        <span>✅</span>
        {% elif mode == "error" %}
        <span>❌</span>
        {% endif %}
        {{message|safe}}
    </div>

    {% if mode == "upload" %}
    <div id="buttons">
        <div id="copy" class="button">Copy to Clipboard</div>
        <div id="new_tab" class="button">Open In New Tab</div>
    </div>
    {% endif %}

    <a href="/" class="no_expand"><img src="/static/img/return.jpg"></a>
</div>
{% endblock %}