{% extends "base.html" %}

{% block head %}
<title>{{file.comment or 'Post'}}</title>

<style>
    :root {
        --background_color: {{background_color}};
        --accent_color: {{accent_color}};
        --font_color: {{font_color}};
        --text_color: {{font_color}};
        --link_color: {{link_color}};
        --font_family: {{font_family}};
    }
</style>

<link rel="stylesheet" href="/static/css/post.css">

<script>
    const vars = {}
</script>

<script src="/static/js/message.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    {% if file.comment %}
    <div id="comment">{{file.comment}}</div><hr>
    {% endif %}

    <div>
        <b>File:</b> <a class="link" href="/{{file_path}}/{{file.name}}">{{file.name}}</a> | {{file.size_str}}
    </div>

    <div>
        <b>Date:</b> {{file.nice_date}} | {{file.ago}}
    </div>

    <a href="/">Return</a>
</div>
{% endblock %}