{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{post.post_title}}</title>
<link rel="stylesheet" href="/static/css/post.css">

<script>
    const vars = {}
    vars.mode = `post`
    vars.post_id = {{post.id}}
    vars.name = {{post.name | tojson | safe}}
    vars.full = {{post.full | tojson | safe}}
    vars.date = {{post.date}}
    vars.title = {{post.title | tojson | safe}}
    vars.original = {{post.original | tojson | safe}}
    vars.original_full = {{post.original_full | tojson | safe}}
    vars.mtype = {{post.mtype | tojson | safe}}
    vars.file_path = {{file_path | tojson | safe}}
    vars.can_react = {{can_react | tojson}}
    vars.text_reaction_length = {{text_reaction_length}}
    vars.post_refresh_interval = {{post_refresh_interval}}
    vars.post_refresh_times = {{post_refresh_times}}
    vars.image_embed = {{post.image_embed | tojson}}
    vars.max_post_name_length = {{max_post_name_length | tojson}}
    vars.max_reaction_name_length = {{max_reaction_name_length | tojson}}
    vars.reactions = {{post.reactions | tojson}}
    vars.username = {{username | tojson | safe}}
    vars.is_admin = {{is_admin | tojson}}
    vars.sample = {{post.sample | tojson | safe}}
    vars.uploader = {{post.uploader | tojson | safe}}
</script>

<script src="/static/ruffle/ruffle.js"></script>
<script src="/static/ace/ace.js"></script>
<script src="/static/ace/ext-modelist.js"></script>
<script src="/static/ace/theme-tomorrow_night_eighties.js"></script>
<script src="/static/js/libs/marked.js"></script>
<script src="/static/js/main/post.js"></script>
{% endblock %}

{% block body %}
<template id="template_edit">
    <div class="dialog_container">
        <div id="edit_title" class="aero_button">Edit Title</div>
        <div id="edit_delete" class="aero_button">Delete Post</div>
    </div>
</template>

<template id="template_icons">
    <div id="icons_container">
        <input type="text" id="icons_input" placeholder="Type To Filter">
        <div id="icons"></div>
    </div>
</template>

<template id="template_reaction_item">
    <div class="reaction_uname"></div>
    <div class="reaction_value"></div>

    <div class="reaction_right">
        <div class="reaction_ago"></div>
        <div class="reaction_edit button hidden">Edit</div>
    </div>
</template>

<template id="template_image">
    <div id="modal_image_container">
        <img id="modal_image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}">
    </div>
</template>

<template id="template_react_opts">
    <div class="dialog_container">
        <div id="react_opts_text" class="aero_button">Text</div>
        <div id="react_opts_icon" class="aero_button">Icon</div>
    </div>
</template>

<template id="template_reaction_opts">
    <div class="dialog_container">
        <div id="reaction_opts_edit" class="aero_button">Edit</div>
        <div id="reaction_opts_delete" class="aero_button">Delete</div>
    </div>
</template>

<template id="template_edit_reaction_opts">
    <div class="dialog_container">
        <div id="edit_reaction_opts_text" class="aero_button">Text</div>
        <div id="edit_reaction_opts_icon" class="aero_button">Icon</div>
    </div>
</template>

{% if is_admin %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
        <div id="user_opts_user" class="aero_button">User</div>
    </div>
</template>
{% else %}
<template id="template_user_opts">
    <div class="dialog_container">
        <div id="user_opts_posts" class="aero_button">Posts</div>
        <div id="user_opts_reactions" class="aero_button">Reactions</div>
    </div>
</template>
{% endif %}

<div id="main" class="colitem">
    <div id="top" class="nowrap">
        <a href="/" class="button">Return</a>

        {% if show_list %}
        <div class="sep">|</div>
        <a href="/list/posts" class="button">List</a>
        <div class="sep">|</div>
        <a href="/next/{{post.id}}" class="button">Next</a>
        <div class="sep">|</div>
        <a href="/random">Random</a>
        {% endif %}
        <div class="sep">|</div>

        {% if owned %}
        <div id="edit" class="button">Edit</div>
        <div class="sep">|</div>
        {% endif %}

        {% if post.video_embed %}
        <div class="rowitem nowrap">
            <div id="max_video" class="button" title="Maximize the video">Max</div>
            <div class="sep">|</div>
        </div>
        {% endif %}

        {% if post.text_embed and not post.markdown_embed %}
        <div class="rowitem nowrap">
            <div id="max_editor" class="button" title="Maximize the editor">Max</div>
            <div class="sep">|</div>
        </div>
        {% endif %}

        {% if post.markdown_embed %}
        <div class="rowitem nowrap">
            <div id="max_markdown" class="button" title="Maximize the markdown">Max</div>
            <div class="sep">|</div>
        </div>
        {% endif %}

        {% if post.flash_embed %}
        <div class="rowitem nowrap">
            <div id="max_flash" class="button" title="Maximize the flash player">Max</div>
            <div class="sep">|</div>
        </div>
        {% endif %}

        {% if post.title or post.original %}
        <div id="title" title="{{post.title or post.original}}">{{post.title or post.original}}</div>
        {% endif %}
    </div>

    <hr>

    <!-- File -->
    <div id="details" class="colitem">
        <div id="file" class="rowitem nowrap">
            <div class="title">File:</div>
            <a class="link" href="/{{file_path}}/{{post.name}}/{{post.original_full}}" title="{{post.original_full}}">{{post.name}} {{post.ext}}</a>
            <div class="sep">|</div>
            <div>{{post.size_str}}</div>

            {% if post.mtype %}
            <div class="sep">|</div>
            <div>{{post.mtype}}</div>
            {% endif %}

            <div id="resolution_container" class="hidden rowitem nowrap">
                <div class="sep">|</div>
                <div id="resolution"></div>
            </div>
        </div>

        <!-- Date -->
        <div class="rowitem nowrap">
            <div class="title">Date:</div>
            <div id="date_1">{{post.date_1}}</div>
            <div class="sep">|</div>
            <div id="date_2">{{post.date_2}}</div>
            <div class="sep">|</div>
            <div id="ago">{{post.ago}}</div>
        </div>

        <!-- Uploader -->
        <div class="rowitem nowrap">
            <div class="title">Uploader:</div>
            <div id="uploader" class="button" title="{{post.uploader_str}}">{{post.uploader_str[: max_post_name_length] | trim}}</div>
            <div class="sep">|</div>
            <div class="title">Views:</div>
            <div id="views">{{post.views}}</div>
        </div>
    </div>

    {% if post.image_embed %}
    <div class="embed">
        <img id="image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}" onload="on_image_load()">
    </div>
    {% endif %}

    {% if post.video_embed or post.audio_embed %}
    <div class="embed">
        <video id="video" src="/{{file_path}}/{{post.name}}" controls preload="none" poster="/static/img/cover.jpg"></video>
    </div>
    {% endif %}

    {% if post.text_embed %}
    <div class="embed">
        <div id="text_buttons" class="rowitem">
            <div id="copy_all_text" class="button">Copy All</div>
            <div class="sep">|</div>
            <div id="select_all_text"class="button">Select All</div>
        </div>

        {% if post.markdown_embed %}
        <div id="markdown_container">
            <div id="markdown">{{post.sample}}</div>
        </div>
        {% else %}
        <div id="editor"></div>
        {% endif %}
    </div>
    {% endif %}

    {% if post.flash_embed %}
    <div id="flash_container" class="embed"></div>
    {% endif %}

    {% if reactions_enabled %}
    <hr>

    <div id="react_buttons" class="nowrap">
        <div id="react_btn" class="icon_btn">
            <div>🫠</div>
            <div class="icon_btn_text">React To This Post</div>
        </div>

        {% if post.reactions | length < 3 %}
        <div id="to_bottom_container" class="rowitem hidden">
        {% else %}
        <div id="to_bottom_container" class="rowitem">
        {% endif %}
            {% if is_user %}
            <div class="sep">|</div>
            {% endif %}
            <div id="lobottomy" class="icon_btn">
                <div>⬇️</div>
                <div class="icon_btn_text">Go To Bottom</div>
            </div>
        </div>
    </div>

    {% if post.reactions | length > 0 %}
    <div id="reactions"></div>
    {% else %}
    <div id="reactions" class="hidden"></div>
    {% endif %}

    {% if post.reactions | length < 3 %}
    <div id="totopia" class="icon_btn hidden">
    {% else %}
    <div id="totopia" class="icon_btn">
    {% endif %}
        <div>⬆️</div>
        <div class="icon_btn_text">Go To Top</div>
    </div>
    {% endif %}
</div>
{% endblock %}