{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{post.description or description}}">
<title>{{post.post_title or post.name}}</title>

<meta property="og:type" content="article">
<meta property="og:url" content="{{request.url}}">
<meta property="og:title" content="{{post.post_title or post.name}}">
<meta property="og:description" content="{{post.description or description}}">
<meta property="og:site_name" content="{{main_title or 'Harambe'}}">
<meta property="og:image" content="/sample/{{post.name}}">
<meta property="article:author" content="{{post.uploader}}">
<meta property="article:published_time" content="{{post.date}}">

<link rel="stylesheet" href="/static/css/post.css">
<script src="/static/js/main/post.js"></script>
{% endblock %}

{% block body %}
<template id="template_image">
    <div id="modal_image_container">
        <img id="modal_image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}">
    </div>
</template>

<div id="main" class="colitem">
    <div id="top">
        <div id="topbuttons" class="rowitem">
            <div id="menu" class="button" title="Ctrl+M">Menu</div>
            <div class="sep">|</div>
            <div id="prev" class="button" title="Previous post by date">Prev</div>
            <div class="sep">|</div>
            <div id="next" class="button" title="Next post by date">Next</div>
            <div class="sep">|</div>

            {% if post.flash_embed %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="flash" class="button" title="Maximize the flash player">Max</div>
                    <div class="sep">|</div>
                </div>
            {% elif post.text %}
                {% if post.youtube_id %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="youtube" class="button" title="Maximize the video">Max</div>
                    <div class="sep">|</div>
                </div>
                {% elif (not post.markdown_embed) and (not post.zip_embed) %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="editor" class="button" title="Maximize the editor">Max</div>
                    <div class="sep">|</div>
                </div>
                {% elif post.markdown_embed %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="markdown" class="button" title="Maximize the markdown">Max</div>
                    <div class="sep">|</div>
                </div>
                {% endif %}
            {% else %}
                {% if post.image_embed %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="image" class="button" title="Maximize the image">Max</div>
                    <div class="sep">|</div>
                </div>
                {% elif post.video_embed or post.audio_embed %}
                <div class="rowitem nowrap">
                    <div id="max" data-max_type="video" class="button" title="Maximize the video">Max</div>
                    <div class="sep">|</div>
                </div>
                {% endif %}
            {% endif %}

            {% if owned %}
            <div id="edit" class="button" title="Edit this post">Edit</div>
            <div class="sep">|</div>
            {% endif %}
        </div>

        {% if post.title or post.original %}
        <div id="title" title="{{post.title or post.original}}">{{post.title or post.original}}</div>
        {% endif %}
    </div>

    <hr id="top_hr">

    <!-- File -->
    <div id="details">
        {% if dynamic_file_info and
        ((post.media_type == "talk") or (post.media_type == "url")) %}
        {# Don't show the file because it's not relevant #}
        {% else %}
        <div id="file" class="rowitem">
            <a class="link" href="/{{file_path}}/{{post.name}}/{{post.original_full}}" title="{{post.original_full}}">File ({{post.ext}})</a>

            <div class="sep">|</div>
            <div class="nowrap">{{post.size_str}}</div>

            {% if post.mtype %}
            <div class="sep">|</div>
            <div class="nowrap">{{post.mtype}}</div>
            {% endif %}

            <div id="resolution_container" class="hidden rowitem nowrap">
                <div class="sep">|</div>
                <div id="resolution"></div>
            </div>
        </div>
        {% endif %}

        <!-- Uploader -->
        <div class="rowitem">
            <div id="uploader" class="button" title="{{post.uploader_str}}">{{post.uploader_str[: max_post_name_length] | trim}}</div>

            <div class="sep">|</div>

            <div id="views">{{post.views}} {{"view" if post.views == 1 else "views"}}</div>

            <div class="sep">|</div>

            {% if post.privacy == "public" %}
            <div id="privacy">Public</div>
            {% elif post.privacy == "private" %}
            <div id="privacy">Private</div>
            {% endif %}

            <div class="sep">|</div>

            <div id="ago" class="nowrap" title="{{post.date_1}} | {{post.date_2}}">{{post.ago}}</div>
        </div>
    </div>

    {% if post.flash_embed %}
        <div id="flash_container" class="embed"></div>
    {% elif post.text %}
        {% if post.has_url %}
            {% if post.youtube_id %}
            <div class="embed">
                <div id="youtube_container"></div>
                {% else %}
                <hr>
                <div id="url_container"></div>
                {% endif %}
            </div>
        {% elif not post.zip_embed %}
        <div class="embed">
            <div id="text_buttons" class="rowitem">
                <div id="copy_all_text" class="button">Copy All</div>
                <div class="sep">|</div>
                <div id="select_all_text"class="button">Select All</div>

                {% if not post.markdown_embed %}
                <div class="sep">|</div>
                <div id="toggle_wrap"class="button">Toggle Wrap</div>
                {% endif %}
            </div>

            {% if post.markdown_embed %}
            <div id="markdown_container">
                <div id="markdown">{{post.text}}</div>
            </div>
            {% else %}
            <div id="editor"></div>
            {% endif %}
        </div>
        {% else %}
        <hr><div id="zip_sample">{{post.text}}</div>
        {% endif %}
    {% else %}
        {% if post.image_embed %}
        <div class="embed">
            <img id="image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}" onload="App.on_image_load()">
        </div>
        {% endif %}

        {% if post.video_embed or post.audio_embed %}
        <div class="embed">
            <video id="video" src="/{{file_path}}/{{post.name}}/{{post.original_full}}" controls preload="none"
            {% if post.video_embed %}
            poster="/sample/{{post.name}}">
            {% else %}
            poster="/static/img/cover.jpg">
            {% endif %}
            </video>
        </div>
        {% endif %}
    {% endif %}

    <div id="description_container" class="colitem hidden">
        <hr id="description_hr">
        <div id="description"></div>
    </div>

    {% if reactions_enabled %}
    <hr>

    <div id="react_buttons" class="nowrap">
        <div id="react_btn" class="icon_btn">
            <div>🫠</div>
            <div class="icon_btn_text">React To This Post</div>
        </div>

        {% if post.reactions | length > 1 %}
        <div id="reverse_container" class="icon_btn">
        {% else %}
        <div id="reverse_container" class="icon_btn hidden">
        {% endif %}
            <div class="sep">|</div>

            <div id="reverse_btn" class="icon_btn">
                <div>🔃</div>
                <div class="icon_btn_text">Reverse</div>
            </div>
        </div>

        {% if post.reactions | length < 3 %}
        <div id="to_bottom_container" class="rowitem hidden">
        {% else %}
        <div id="to_bottom_container" class="rowitem">
        {% endif %}
            {% if is_user %}
            <div class="sep">|</div>
            {% endif %}
            <div id="lobottomy" class="icon_btn">
                <div>⬇️</div>
                <div class="icon_btn_text">Go To Bottom</div>
            </div>
        </div>
    </div>

    {% if post.reactions | length > 0 %}
    <div id="reactions"></div>
    {% else %}
    <div id="reactions" class="hidden"></div>
    {% endif %}

    {% if post.reactions | length < 3 %}
    <div id="totopia" class="icon_btn hidden">
    {% else %}
    <div id="totopia" class="icon_btn">
    {% endif %}
        <div>⬆️</div>
        <div class="icon_btn_text">Go To Top</div>
    </div>
    {% endif %}
</div>
{% endblock %}