{% extends "base.html" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{post.post_title}}</title>
<link rel="stylesheet" href="/static/css/post.css">

<script>
    const vars = {}
    vars.name = {{post.name | tojson | safe}}
    vars.full = {{post.full | tojson | safe}}
    vars.date = {{post.date}}
    vars.title = {{post.title | tojson | safe}}
    vars.original = {{post.original | tojson | safe}}
    vars.original_full = {{post.original_full | tojson | safe}}
    vars.mtype = {{post.mtype | tojson | safe}}
    vars.file_path = {{file_path | tojson | safe}}
    vars.can_react = {{can_react | tojson}}
    vars.text_reaction_length = {{text_reaction_length}}
    vars.post_refresh_interval = {{post_refresh_interval}}
    vars.post_refresh_times = {{post_refresh_times}}
    vars.image_embed = {{post.image_embed | tojson}}
    vars.max_post_name_length = {{max_post_name_length | tojson}}
    vars.max_reaction_name_length = {{max_reaction_name_length | tojson}}
</script>

<script src="/static/js/msg.js"></script>
<script src="/static/js/marked.js"></script>
<script src="/static/js/dateformat.js"></script>
<script src="/static/ruffle/ruffle.js"></script>
<script src="/static/js/post.js"></script>
{% endblock %}

{% block body %}
<template id="template_edit">
    <div>Choose An Action</div>

    <div class="dialog_container">
        <button id="edit_title">Edit Title</button>
        <button id="edit_delete">Delete Post</button>
    </div>
</template>

<template id="template_icons">
    <div id="icons_container">
        <input type="text" id="icons_input" placeholder="Type To Filter">
        <div id="icons"></div>
    </div>
</template>

<template id="template_reaction_item">
    <div class="reaction_uname"></div>
    <div class="sep">|</div>
    <div class="reaction_value"></div>
    <div class="sep">|</div>
    <div class="reaction_ago"></div>
</template>

<template id="template_image">
    <div id="modal_image_container">
        <img id="modal_image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}">
    </div>
</template>

<div id="main" class="colitem">
    <div id="top" class="nowrap">
        <a href="/" class="button">Return</a>

        {% if show_list %}
        <div class="sep">|</div>
        <a href="/list" class="button">List</a>
        <div class="sep">|</div>
        <a href="/next/{{post.name}}" class="button">Next</a>
        <div class="sep">|</div>
        <a href="/random">Random</a>
        {% endif %}
        <div class="sep">|</div>

        {% if owned %}
        <div id="edit" class="button">Edit</div>
        <div class="sep">|</div>
        {% endif %}

        {% if post.video_embed %}
        <div class="rowitem nowrap">
            <div id="max_video" class="button" title="Maximize the video">Max</div>
            <div class="sep">|</div>
        </div>
        {% endif %}

        {% if post.title or post.original %}
        <div id="title" title="{{post.title or post.original}}">{{post.title or post.original}}</div>
        {% endif %}
    </div>

    <hr>

    <!-- File -->
    <div id="details" class="colitem">
        <div id="file" class="rowitem nowrap">
            <div class="title">File:</div>
            <a class="link" href="/{{file_path}}/{{post.name}}/{{post.original_full}}" title="{{post.original_full}}">{{post.name}} {{post.ext}}</a>
            <div class="sep">|</div>
            <div>{{post.size_str}}</div>
            <div class="sep">|</div>
            <div>{{post.mtype or 'No type detected'}}</div>
        </div>

        <!-- Date -->
        <div class="rowitem nowrap">
            <div class="title">Date:</div>
            <div id="date_1">{{post.date_1}}</div>
            <div class="sep">|</div>
            <div id="date_2">{{post.date_2}}</div>
            <div class="sep">|</div>
            <div id="ago">{{post.ago}}</div>
        </div>

        <!-- Uploader -->
        <div class="rowitem nowrap">
            <div class="title">Uploader:</div>
            <div title="{{post.uploader_str}}">{{post.uploader_str[: max_post_name_length] | trim}}</div>
            <div class="sep">|</div>
            <div class="title">Views:</div>
            <div id="views">{{post.views}}</div>
        </div>
    </div>

    {% if post.image_embed %}
    <div class="embed">
        <img id="image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}">
    </div>
    {% endif %}

    {% if post.video_embed %}
    <div class="embed">
        <video id="video" src="/{{file_path}}/{{post.name}}" controls preload="none" poster="/static/img/cover.jpg"></video>
    </div>
    {% endif %}

    {% if post.text_embed %}
    <div class="embed">
        <div id="text_buttons" class="rowitem">
            <div id="copy_all_text" class="button">Copy All</div>
            <div class="sep">|</div>
            <div id="select_all_text"class="button">Select All</div>
        </div>

        {% if post.markdown_embed %}
        <div class="text_container">
            <div id="markdown_view" class="text_embed">{{post.sample}}</div>
        </div>
        {% else %}
        <div class="text_container">
            <div id="text_view" class="text_embed">{{post.sample}}</div>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if post.flash_embed %}
    <div class="embed">
        <div id="flash"></div>
    </div>
    {% endif %}

    {% if reactions_enabled %}
    <hr>

    <div id="react_buttons" class="nowrap">
        {% if is_user %}
        <div id="react_text" class="react_btn"><span class="btn_icon">📝</span><span class="react_btn_text">React with Text</span></div>
        <div class="sep">|</div>
        <div id="react_icon" class="react_btn"><span class="btn_icon">🫠</span><span class="react_btn_text">React with an Icon</span></div>
        {% endif %}

        {% if post.reactions | length == 0 %}
        <div id="to_bottom_container" class="rowitem hidden">
        {% else %}
        <div id="to_bottom_container" class="rowitem">
        {% endif %}
            {% if is_user %}
            <div class="sep">|</div>
            {% endif %}
            <div id="to_bottom" class="react_btn"><span class="btn_icon">⬇️</span><span class="react_btn_text">Go To Bottom</span></div>
        </div>
    </div>

    {% if post.reactions | length > 0 %}
    <div id="reactions">
    {% else %}
    <div id="reactions" class="hidden">
    {% endif %}
        {% for reaction in post.reactions %}
        <div class="reaction_item">
            <div class="reaction_uname" title="{{reaction.uname_str}}">{{reaction.uname_str[: max_reaction_name_length] | trim}}</div>
            <div class="sep">|</div>

            <div class="reaction_value">
                {% if reaction.mode == "icon" %}
                <img src="/static/icons/{{reaction.value}}.gif" title="{{reaction.value}}" loading="lazy">
                {% elif reaction.mode == "text" %}
                <div class="reaction_text">{{reaction.value}}</div>
                {% endif %}
            </div>

            <div class="sep">|</div>
            <div class="reaction_ago">{{reaction.ago}}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}