{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{post.post_title}}</title>
<link rel="stylesheet" href="/static/css/post.css">
{# <script src="/static/ruffle/ruffle.js"></script> #}
<script src="/static/ace/ace.js"></script>
<script src="/static/ace/ext-modelist.js"></script>
<script src="/static/ace/theme-tomorrow_night_eighties.js"></script>
<script src="/static/js/libs/marked.js"></script>
<script src="/static/js/main/post.js"></script>
{% endblock %}

{% block body %}
<template id="template_image">
    <div id="modal_image_container">
        <img id="modal_image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}">
    </div>
</template>

<div id="main" class="colitem">
    <div id="top">
        <div id="topbuttons" class="rowitem">
            <div id="menu" class="button" title="Ctrl+M">Menu</div>
            <div class="sep">|</div>
            <a href="/next/{{post.name}}" class="button" title="Next post by date">Next</a>
            <div class="sep">|</div>

            {% if owned %}
            <div id="edit" class="button" title="Edit this post">Edit</div>
            <div class="sep">|</div>
            {% endif %}

            {% if post.video_embed %}
            <div class="rowitem nowrap">
                <div id="max_video" class="button" title="Maximize the video">Max</div>
                <div class="sep">|</div>
            </div>
            {% endif %}

            {% if post.text_embed and not post.markdown_embed %}
            <div class="rowitem nowrap">
                <div id="max_editor" class="button" title="Maximize the editor">Max</div>
                <div class="sep">|</div>
            </div>
            {% endif %}

            {% if post.markdown_embed %}
            <div class="rowitem nowrap">
                <div id="max_markdown" class="button" title="Maximize the markdown">Max</div>
                <div class="sep">|</div>
            </div>
            {% endif %}

            {% if post.flash_embed %}
            <div class="rowitem nowrap">
                <div id="max_flash" class="button" title="Maximize the flash player">Max</div>
                <div class="sep">|</div>
            </div>
            {% endif %}
        </div>

        {% if post.title or post.original %}
        <div id="title" title="{{post.title or post.original}}">{{post.title or post.original}}</div>
        {% endif %}
    </div>

    <hr>

    <!-- File -->
    <div id="details">
        <div id="file" class="rowitem">
            <div class="rowitem nowrap">
                <div class="title">File:</div>
                <a class="link" href="/{{file_path}}/{{post.name}}/{{post.original_full}}" title="{{post.original_full}}">{{post.name}} {{post.ext}}</a>
            </div>

            <div class="sep">|</div>
            <div class="nowrap">{{post.size_str}}</div>

            {% if post.mtype %}
            <div class="sep">|</div>
            <div class="nowrap">{{post.mtype}}</div>
            {% endif %}

            <div id="resolution_container" class="hidden rowitem nowrap">
                <div class="sep">|</div>
                <div id="resolution"></div>
            </div>
        </div>

        <!-- Date -->
        <div class="rowitem">
            <div class="title nowrap">Date:</div>
            <div id="date_1" class="nowrap">{{post.date_1}}</div>
            <div class="sep">|</div>
            <div id="date_2" class="nowrap">{{post.date_2}}</div>
            <div class="sep">|</div>
            <div id="ago" class="nowrap">{{post.ago}}</div>
        </div>

        <!-- Uploader -->
        <div class="rowitem">
            <div class="rowitem nowrap">
                <div class="title">Uploader:</div>
                <div id="uploader" class="button" title="{{post.uploader_str}}">{{post.uploader_str[: max_post_name_length] | trim}}</div>
            </div>

            <div class="sep">|</div>

            <div class="rowitem nowrap">
                <div class="title">Views:</div>
                <div id="views">{{post.views}}</div>
            </div>
        </div>
    </div>

    {% if post.image_embed %}
    <div class="embed">
        <img id="image" src="/{{file_path}}/{{post.name}}/{{post.original_full}}" onload="App.on_image_load()">
    </div>
    {% endif %}

    {% if post.video_embed or post.audio_embed %}
    <div class="embed">
        <video id="video" src="/{{file_path}}/{{post.name}}" controls preload="none" poster="/static/img/cover.jpg"></video>
    </div>
    {% endif %}

    {% if post.text_embed %}
    <div class="embed">
        <div id="text_buttons" class="rowitem">
            <div id="copy_all_text" class="button">Copy All</div>
            <div class="sep">|</div>
            <div id="select_all_text"class="button">Select All</div>

            {% if not post.markdown_embed %}
            <div class="sep">|</div>
            <div id="toggle_wrap"class="button">Toggle Wrap</div>
            {% endif %}
        </div>

        {% if post.markdown_embed %}
        <div id="markdown_container">
            <div id="markdown">{{post.sample}}</div>
        </div>
        {% else %}
        <div id="editor"></div>
        {% endif %}
    </div>
    {% endif %}

    {% if post.flash_embed %}
    <div id="flash_container" class="embed"></div>
    {% endif %}

    {% if post.zip_embed %}
    <hr><div id="zip_sample">{{post.sample}}</div>
    {% endif %}

    {% if reactions_enabled %}
    <hr>

    <div id="react_buttons" class="nowrap">
        <div id="react_btn" class="icon_btn">
            <div>🫠</div>
            <div class="icon_btn_text">React To This Post</div>
        </div>

        {% if post.reactions | length > 1 %}
        <div id="reverse_container" class="icon_btn">
        {% else %}
        <div id="reverse_container" class="icon_btn hidden">
        {% endif %}
            <div class="sep">|</div>

            <div id="reverse_btn" class="icon_btn">
                <div>🔃</div>
                <div class="icon_btn_text">Reverse</div>
            </div>
        </div>

        {% if post.reactions | length < 3 %}
        <div id="to_bottom_container" class="rowitem hidden">
        {% else %}
        <div id="to_bottom_container" class="rowitem">
        {% endif %}
            {% if is_user %}
            <div class="sep">|</div>
            {% endif %}
            <div id="lobottomy" class="icon_btn">
                <div>⬇️</div>
                <div class="icon_btn_text">Go To Bottom</div>
            </div>
        </div>
    </div>

    {% if post.reactions | length > 0 %}
    <div id="reactions"></div>
    {% else %}
    <div id="reactions" class="hidden"></div>
    {% endif %}

    {% if post.reactions | length < 3 %}
    <div id="totopia" class="icon_btn hidden">
    {% else %}
    <div id="totopia" class="icon_btn">
    {% endif %}
        <div>⬆️</div>
        <div class="icon_btn_text">Go To Top</div>
    </div>
    {% endif %}
</div>
{% endblock %}