{% extends "base.html" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{file.title or file.original or file.name or 'Post'}}</title>
<link rel="stylesheet" href="/static/css/post.css">

<script>
    const vars = {}
    vars.name = `{{file.name}}`
    vars.full = `{{file.full}}`
    vars.date = {{file.date}}
    vars.title = `{{file.title}}`
    vars.original = `{{file.original}}`
    vars.mtype = `{{file.mtype}}`
    vars.content = `{{file.content}}`
    vars.file_path = `{{file_path}}`
</script>

<script src="/static/js/marked.js"></script>
<script src="/static/js/dateformat.js"></script>
<script src="/static/ruffle/ruffle.js"></script>
<script src="/static/js/post.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    <!-- Top -->
    <div id="top">
        <div id="buttons">
            <a href="/" class="button">Return</a>
            {% if show_list %}
            <div class="sep">|</div>
            <a href="/list" class="button">List</a>
            <div class="sep">|</div>
            <a href="/next/{{file.name}}" class="button">Next</a>
            {% endif %}
            <div class="sep">|</div>
        {% if owned %}
            <div id="edit" class="button">Edit</div>
            <div class="sep">|</div>
            <div id="delete" class="button">Delete</div>
            <div class="sep">|</div>
        {% endif %}
        </div>

        {% if file.title or file.original %}
        <div id="title">{{file.title or file.original}}</div>
        {% endif %}
    </div>

    <hr>

    <!-- File -->
    <div id="file">
        <span class="title">File:</span><a class="link" href="/{{file_path}}/{{file.name}}/{{file.original_full}}">{{file.full}}</a><span class="sep">|</span>{{file.size_str}}<span class="sep">|</span>{{file.mtype or 'No type detected'}}
    </div>

    <!-- Date -->
    <div>
        <span class="title">Date:</span><span id="date_1">{{file.date_1}}</span><span class="sep">|</span><span id="date_2">{{file.date_2}}</span><span class="sep">|</span><span id="ago">{{file.ago}}</span>
    </div>

    <!-- Uploader -->
    <div>
        <span class="title">Uploader:</span>{{file.uploader or 'Anon'}}<span class="sep">|</span><span class="title">Views:</span>{{file.views}}
    </div>

    {% if file.can_embed %}
    <div id="embed">
        {% if file.mtype.startswith("image/") %}
        <div>
            <img id="image" src="/{{file_path}}/{{file.name}}">

            <div id="modal">
                <div id="modal_content">
                    <img id="modal_image" src="">
                </div>
            </div>
        </div>
        {% endif %}

        {% if file.mtype.startswith("video/") or file.mtype.startswith("audio/") %}
        <div>
            <video id="video" src="/{{file_path}}/{{file.name}}" controls preload="none"></video>
        </div>
        {% endif %}

        {% if file.mtype.startswith("text/") %}
            {% if file.mtype == "text/markdown" %}
            <div>
                <div id="markdown_view" class="text_embed">{{file.content}}</div>
            </div>
            {% else %}
            <div>
                <div id="text_view" class="text_embed">{{file.content}}</div>
            </div>
            {% endif %}
        {% endif %}

        {% if file.mtype.startswith("application/") and ("flash" in file.mtype) %}
        <div>
            <div id="flash"></div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}