{% extends "base.jinja" %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="static/css/login.css">
<script src="/static/js/main/register.js"></script>
{% endblock %}

{% block body %}
<div id="main">
    {% if message %}
    <div id="message">{{message}}</div>
    {% endif %}

    <form id="form" action="/register" method="post">
        <div id="{{captcha_div}}" style="background-color: white; padding: 0.35rem;">{{captcha}}</div>
        <input type="hidden" name="captcha_key" value="{{captcha_key}}">
        <input type="text" id="solution" name="solution" placeholder="Solution">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password (1)">
        <input type="password" id="password_2" name="password_2" placeholder="Password (2)">
        <input type="text" id="name" name="name" placeholder="Public Name">

        {% if register_code %}
        <input type="text" id="code" name="code" placeholder="Code">
        {% endif %}

        <input type="submit" id="register" value="Register">
    </form>
</div>
{% endblock %}
