{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{main_title}}</title>
<link rel="stylesheet" href="static/css/upload.css">
<script src="/static/js/main/upload.js"></script>
{% endblock %}

{% block body %}
<template id="template_picker">
    <input type="file" class="picker_file" max-file-size="{{max_size_str}}mb" multiple>
    <div class="picker_title picker_button picker_button_2" title="Use the name of this file as the title">✍🏻</div>
    <div class="picker_view picker_button picker_button_2"  title="View the media of this item if possible">☝🏻</div>
    <div class="picker_clear picker_button picker_button_2" title="Clear this picker">🖐🏼</div>

    {% if max_upload_files > 1 %}
    <div class="picker_remove picker_button" title="Remove this picker">💣</div>
    {% endif %}
</template>

<template id="template_pastebin">
    <div class="rowitem">
        <div title="This will create a text file (Optional)">Text File</div>
        <div class="sep">|</div>
        <div class="pastebin_max button" title="Maximize">Max</div>
        <div class="sep">|</div>
        <div class="pastebin_clear button" title="Clear the text">Clear</div>
        <div class="sep">|</div>
        <div class="pastebin_remove button" title="Remove this text">Remove</div>
    </div>

    <input type="text" placeholder="File Name + Extension" class="pastebin_filename" name="pastebin_filename">
    <textarea class="pastebin" name="pastebin" rows="4" spellcheck="true" placeholder="Text or Code"></textarea>
</template>

<div id="main">
    <div id="info">
        {% if is_user and show_max_size %}
        <div id="file_size">Max size: {{max_size_str}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="/static/img/banners/{{banner}}" title="{{image_tooltip}}">
    <video id="video" preload="none" class="hidden" controls poster="/static/img/cover.jpg"></video>
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return App.validate();">
        {% if is_user and upload_enabled %}
        <input type="checkbox" id="image_magic"  name="image_magic" hidden>
        <input type="checkbox" id="audio_magic"  name="audio_magic" hidden>
        <input type="checkbox" id="video_magic"  name="video_magic" hidden>
        <input type="checkbox" id="album_magic"  name="album_magic" hidden>
        <input type="checkbox" id="visual_magic" name="album_magic" hidden>
        <input type="checkbox" id="gif_magic"    name="gif_magic"   hidden>

        <div id="toprow">
            {% if show_privacy_select %}
            <select id="privacy" name="privacy" class="topbutton" title="Make it a public or private post">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
            {% endif %}

            <div id="zip_container" class="checkbox_container topbutton" title="Make a zip archive">
                <div>Zip</div>
                <input type="checkbox" id="zip" name="zip">
            </div>

            {% if max_upload_files > 1 %}
            <div id="add_picker_btn" class="topbutton" title="Add another file">Add</div>
            <div id="remove_picker_btn" class="topbutton" title="Remove the last file">Remove</div>
            {% endif %}
        </div>

        <div id="pickers"></div>
        {% endif %}

        {% if allow_titles and is_user and upload_enabled %}
        <input id="title" type="text" name="title" placeholder="Post Title or URL" spellcheck="true">
        {% endif %}

        {% if allow_descriptions and is_user and upload_enabled %}
        <textarea id="description" name="description" placeholder="Description" spellcheck="true" rows="3"></textarea>
        {% endif %}

        {% if pastebin_enabled %}
        <div id="pastebins" class="hidden"></div>
        {% endif %}

        <div id="buttons">
            <button type="button" id="menu_btn" title="Ctrl + M">🧭&nbsp;&nbsp;Menu</button>

            {% if pastebin_enabled %}
            <button type="button" id="menu_text" title="Create a text file">📝&nbsp;&nbsp;Text</button>
            {% endif %}

            {% if is_user and upload_enabled %}
            <button id="submit_btn" type="button" title="Upload the file(s)">🔼&nbsp;&nbsp;Upload</button>
            {% endif %}

            {% if not is_user %}
            <button type="button" id="login_btn" title="Login to your user account">Login</button>
            <button type="button" id="register_btn" title="Register a new account">Register</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}