{% extends "base.jinja" %}

{% block head %}
<meta name="description" content="{{description}}">
<title>{{main_title}}</title>
<link rel="stylesheet" href="static/css/upload.css">
<script src="/static/js/main/upload.js"></script>
{% endblock %}

{% block body %}
<template id="template_picker">
    <input type="file" class="picker_file" max-file-size="{{max_size_str}}mb">
</template>

<div id="main">
    <div id="info">
        {% if is_user and show_max_size %}
        <div id="file_size">Max size: {{max_size_str}} mb</div>
        {% endif %}
    </div>

    {% if show_image %}
    <img id="image" src="/static/img/banners/{{banner}}" title="{{image_tooltip}}">
    <video id="video" preload="none" class="hidden" controls poster="/static/img/cover.jpg"></video>
    {% endif %}

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return App.validate()">
        {% if is_user and upload_enabled %}

        <div id="toprow">
            {% if show_compress %}
            <div id="zip" title="Compress the file into a zip archive">
                <div>Compress File</div>
                <input id="compress" name="compress" type="checkbox">
            </div>
            {% endif %}

            {% if max_upload_files > 1 %}
                {% if show_compress %}
                <div class="sep">|</div>
                {% endif %}

                <div id="add_picker_btn" class="button">Add File</div>
                <div class="sep">|</div>
                <div id="remove_picker_btn" class="button">Remove File</div>
            {% endif %}
        </div>

        <div id="pickers"></div>
        {% endif %}

        {% if allow_titles and is_user and upload_enabled %}
        <input id="title" type="text" name="title" placeholder="Enter a Title (Optional)" spellcheck="true">
        {% endif %}

        <div id="buttons">
            {% if is_user and upload_enabled %}
            <button id="submit_btn" type="button" title="Upload the file">🔼&nbsp;&nbsp;Upload</button>
            {% endif %}

            <button type="button" id="menu_btn" title="Ctrl+M">🧭&nbsp;&nbsp;Menu</button>

            {% if not is_user %}
            <button type="button" id="login_btn" title="Login to your user account">Login</button>
            <button type="button" id="register_btn" title="Register a new account">Register</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}