{% extends "base.html" %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = {{mode | tojson | safe}}
    vars.page_size = {{page_size | tojson | safe}}
    vars.def_page_size = {{def_page_size | tojson}}
    vars.sort = {{sort | tojson | safe}}
    vars.page = {{page}}
</script>

<script src="/static/js/msg.js"></script>
<script src="/static/js/admin.js"></script>
{% endblock %}

{% set show_names = items | selectattr("name") | list | length > 0 %}
{% set show_marks = items | selectattr("mark") | list | length > 0 %}

{% block body %}
<template id="template_edit">
    <form method="dialog">
      <div>Choose An Action</div>

      <div class="dialog_container">
        <div>
            <button id="edit_can_list_yes">Can List: Yes</button>
            <button id="edit_can_list_no">Can List: No</button>
        </div>

        <div>
            <button id="edit_lister_yes">Lister: Yes</button>
            <button id="edit_lister_no">Lister: No</button>
        </div>

        <div>
            <button id="edit_reacter_yes">Reacter: Yes</button>
            <button id="edit_reacter_no">Reacter: No</button>
        </div>
      </div>
    </form>
</template>

<div id="top" class="nowrap">
    <a class="action_button" href="/admin">Back</a>
    <div class="sep">|</div>
    <div class="action_button" id="refresh" title="Refresh this page">Refresh</div>
    <div class="sep">|</div>
    <div class="action_button" id="add" title="Add an item">Add</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_selected" title="Delete selected items">Delete</div>
    <div class="sep">|</div>
    <div class="action_button" id="edit" title="Some edit actions">Edit</div>
    <div class="sep">|</div>
    <div title="Total storage stats of all items (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
        {% if page > 2 %}
        <a class="linkbutton" href="/admin/users/{{page - 1}}?page_size={{page_size}}" title="Go to the previous page">Prev</a>
        {% else %}
        <a class="linkbutton" href="/admin/users?page_size={{page_size}}" title="Go to the previous page">Prev</a>
        {% endif %}
    {% else %}
    <div class="">Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <a class="linkbutton" href="/admin/users/{{page + 1}}?page_size={{page_size}}" title="Go to the next page">Next</a>
    {% else %}
    <div class="">Next</div>
    {% endif %}

    <div class="sep">|</div>
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            <div class="table_cell checkbox"><input id="checkbox" type="checkbox" title="Select or Unselect All"></div>
            <div id="username" class="table_cell underline" data-sort="username" title="The username of the user. It acts as the ID and can't be changed">User</div>

            {% if show_names %}
            <div id="name" class="table_cell underline" data-sort="name" title="The public name of this user">Name</div>
            {% endif %}

            <div id="limit" class="table_cell small underline" data-sort="rpm" title="Requests per minute the user can make">RPM</div>
            <div id="max" class="table_cell small underline" data-sort="max_size" title="The max size in megabytes this user can upload at once">Max</div>
            <div id="list" class="table_cell underline" data-sort="admin" title="This user is an admin and can use the admin pages">Admin</div>
            <div id="list" class="table_cell underline" data-sort="can_list" title="Can view the list of posts from all users">List</div>
            <div id="lister" class="table_cell underline" data-sort="lister" title="The posts of this user will appear in the list">Lister</div>
            <div id="reacter" class="table_cell underline" data-sort="reacter" title="This user can react in posts">Reacter</div>
            <div id="posts" class="table_cell small underline" data-sort="posts" title="The number of posts this user has done">Posts</div>

            {% if show_marks %}
            <div id="mark" class="table_cell underline" data-sort="mark" title="A mark added to the end of file names to identify a certain kind of upload">Mark</div>
            {% endif %}

            <div id="reg_date" class="table_cell underline" data-sort="register_date" title="The date when the user was registered">RegDate</div>
            <div id="last_date" class="table_cell underline" data-sort="last_date" title="The date when the user made their latest post">LastDate</div>
            <div class="table_cell actions">Actions</div>
        </div>

        {% for item in items %}
        <div class="table_row item" data-username="{{item.username}}" data-name="{{item.name}}" data-rpm="{{item.rpm_fill}}" data-max_size="{{item.max_size_fill}}" data-can_list="{{item.can_list_str}}" data-mark="{{item.mark}}" data-reg_date="{{item.reg_date_str}}" data-last_date="{{item.last_date_str}}" data-admin="{{item.admin_str}}" data-lister="{{lister_str}}" data-reacter="{{reacter_str}}">
            <!-- Checkbox -->
            <div class="table_cell checkbox" title="Select this item">
                <input class="select_checkbox" type="checkbox">
            </div>

            <!-- Username -->
            <div class="table_cell" title="{{item.username}}">{{item.username}}</div>

            <!-- Name -->
            {% if show_names %}
            <div class="table_cell" title="{{item.name}}">{{item.name}}</div>
            {% endif %}

            <!-- RPM -->
            <div class="table_cell small">{{item.rpm_fill}}</div>

            <!-- Max Size -->
            <div class="table_cell small">{{item.max_size_fill}}</div>

            <!-- Admin -->
            <div class="table_cell">{{item.admin_str}}</div>

            <!-- Can List -->
            <div class="table_cell">{{item.can_list_str}}</div>

            <!-- Lister -->
            <div class="table_cell">{{item.lister_str}}</div>

            <!-- Reacter -->
            <div class="table_cell">{{item.reacter_str}}</div>

            <!-- Posts -->
            <div class="table_cell small">{{item.posts}}</div>

            <!-- Mark -->
            {% if show_marks %}
            <div class="table_cell">{{item.mark}}</div>
            {% endif %}

            <!-- Register Date -->
            <div class="table_cell" title="{{item.register_date_str}}">{{item.register_date_str}}</div>

            <!-- Last Date -->
            <div class="table_cell" title="{{item.last_date_str}}">{{item.last_date_str}}</div>

            <!-- Actions -->
            <div class="table_cell actions rowitem">
                <div class="edit action_button" title="Edit this item">E</div>
                <div class="sep"> | </div>
                <div class="delete action_button" title="Delete this item">D</div>
                <div class="sep"> | </div>
                <div class="delete_above action_button" title="Delete all items above this one">A</div>
                <div class="sep"> | </div>
                <div class="delete_below action_button" title="Delete all items below this one">B</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}