{% extends "base.html" %}

{% block head %}
<title>Users</title>
<link rel="stylesheet" href="/static/css/admin.css">

<script>
    const vars = {}
    vars.mode = `users`
    vars.page_size = `{{page_size}}`
    vars.def_page_size = {{def_page_size | tojson}}
</script>

<script src="/static/js/admin.js"></script>
{% endblock %}

{% set show_names = users | selectattr("name") | list | length > 0 %}
{% set show_marks = users | selectattr("mark") | list | length > 0 %}

{% block body %}
<div id="top">
    <a class="action_button" href="/">Back</a>
    <div class="sep">|</div>
    <div class="action_button" id="refresh" title="Refresh this page">Refresh</div>
    <div class="sep">|</div>
    <div class="action_button" id="add" title="Add a user">Add</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_selected" title="Delete selected users">Delete</div>
    <div class="sep">|</div>
    <div class="action_button" id="delete_all" title="Delete all user (from all pages)">Delete All</div>
    <div class="sep">|</div>
    <div class="action_button" id="can_list" title="Delete all user (from all pages)">List</div>
    <div class="sep">|</div>
    <div class="action_button" id="no_list" title="Delete all user (from all pages)">No List</div>
    <div class="sep">|</div>
    <div title="Total storage stats of all users (on all pages)">Total: {{total}}</div>
    <div class="sep">|</div>
    <div title="This is the current page">Page {{page}}</div>
    <div class="sep">|</div>

    {% if page > 1 %}
        {% if page > 2 %}
        <a class="linkbutton" href="/users/{{page - 1}}" title="Go to the previous page">Prev</a>
        {% else %}
        <a class="linkbutton" href="/users" title="Go to the previous page">Prev</a>
        {% endif %}
    {% else %}
    <div class="">Prev</div>
    {% endif %}

    <div class="sep">|</div>

    {% if next_page %}
    <a class="linkbutton" href="/users/{{page + 1}}" title="Go to the next page">Next</a>
    {% else %}
    <div class="">Next</div>
    {% endif %}

    <div class="sep">|</div>
    <select id="page_select" title="Show this number of items per page"></select>
    <div class="sep">|</div>
    <input id="filter" type="text" placeholder="Filter" title="Press Enter to search">
</div>

<div id="items">
    <div class="table">
        <div class="table_row table_header">
            <div class="table_cell checkbox"><input id="checkbox" type="checkbox"></div>
            <div id="username" class="table_cell underline" data-sort="username">User</div>

            {% if show_names %}
            <div id="name" class="table_cell underline" data-sort="name">Name</div>
            {% endif %}

            <div id="limit" class="table_cell underline" data-sort="rpm">RPM</div>
            <div id="max" class="table_cell underline" data-sort="max_size">Max Size</div>
            <div id="list" class="table_cell underline" data-sort="admin">Admin</div>
            <div id="list" class="table_cell underline" data-sort="can_list">List</div>

            {% if show_marks %}
            <div id="mark" class="table_cell underline" data-sort="mark">Mark</div>
            {% endif %}

            <div id="reg_date" class="table_cell underline" data-sort="register_date">RegDate</div>
            <div id="last_date" class="table_cell underline" data-sort="last_date">LastDate</div>
            <div class="table_cell actions">Actions</div>
        </div>
        {% for user in users %}
        <div class="table_row item" data-username="{{user.username}}" data-name="{{user.name}}" data-rpm="{{user.rpm_fill}}" data-max_size="{{user.max_size_fill}}" data-can_list="{{user.can_list_str}}" data-mark="{{user.mark}}" data-reg_date="{{user.reg_date_str}}" data-last_date="{{user.last_date_str}}" data-admin="{{user.admin_str}}">
            <!-- Checkbox -->
            <div class="table_cell checkbox" title="Select this user">
                <input class="select_checkbox" type="checkbox">
            </div>

            <!-- Username -->
            <div class="table_cell">
                <div>{{user.username}}</div>
            </div>

            {% if show_names %}
            <!-- Name -->
            <div class="table_cell">
                <div>{{user.name}}</div>
            </div>
            {% endif %}

            <!-- RPM -->
            <div class="table_cell">
                <div>{{user.rpm_fill}}</div>
            </div>

            <!-- Max Size -->
            <div class="table_cell">
                <div>{{user.max_size_fill}}</div>
            </div>

            <!-- Admin -->
            <div class="table_cell">
                <div>{{user.admin_str}}</div>
            </div>

            <!-- Can List -->
            <div class="table_cell">
                <div>{{user.can_list_str}}</div>
            </div>

            {% if show_marks %}
            <!-- Mark -->
            <div class="table_cell">
                <div>{{user.mark}}</div>
            </div>
            {% endif %}

            <!-- Register Date -->
            <div class="table_cell">
                <div title="{{user.register_date_str}}">{{user.register_date_str}}</div>
            </div>

            <!-- Last Date -->
            <div class="table_cell">
                <div title="{{user.last_date_str}}">{{user.last_date_str}}</div>
            </div>

            <!-- Actions -->
            <div class="table_cell actions">
                <span class="edit action_button" title="Edit this user">E</span>
                <span class="sep"> | </span>
                <span class="delete action_button" title="Delete this user">D</span>
                <span class="sep"> | </span>
                <span class="delete_above action_button" title="Delete all users above this one">A</span>
                <span class="sep"> | </span>
                <span class="delete_below action_button" title="Delete all users below this one">B</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}