{% extends "base.html" %}

{% block head %}
<title>{{user.username}}</title>

<style>
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>

<script>
    const vars = {}
    vars.username = {{user.username | tojson | safe}}
    vars.name = {{user.name | tojson | safe}}
</script>

<script src="/static/js/you.js"></script>
{% endblock %}

{% block body %}
<dialog id="edit_dialog">
    <form method="dialog">
      <div>Choose An Action</div>

      <div class="dialog_container">
        {% if allow_name_edit %}
        <button value="name">Edit Name</button>
        {% endif %}

        {% if allow_password_edit %}
        <button value="password">Edit Password</button>
        {% endif %}

        <button value="cancel">Cancel</button>
      </div>
    </form>
</dialog>

<div class="middle">
    <div class="rowitem">
        <div>{{user.username}}</div>
        <div class="sep">|</div>
        <div>{{user.name}}</div>
    </div>

    <img src="/static/img/you.jpg" id="you">

    <div class="selector">
        <a class="linkbutton" href="/">Return</a>
        <div class="sep">|</div>
        <a class="linkbutton" href="/list?username={{user.username}}">History</a>

        {% if allow_edit %}
        <div class="sep">|</div>
        <div id="edit" class="action_button">Edit</div>
        {% endif %}

        <div class="sep">|</div>
        <div class="action_button" id="logout">Logout</div>
    </div>
</div>
{% endblock %}