{% extends "base.html" %}

{% block head %}
<title>{{user.username}}</title>

<style>
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
    }
</style>

<script>
    window.onload = () => {
        DOM.ev(`#logout`, `click`, () => {
            if (confirm(`Are you sure you want to logout?`)) {
                window.location = `/logout`
            }
        })
    }
</script>
{% endblock %}

{% block body %}
<div class="middle">
    <div class="rowitem">
        <div>{{user.username}}</div>
        <div class="sep">|</div>
        <div>{{user.name}}</div>
    </div>

    <img src="/static/img/you.jpg" id="you">

    <div class="selector">
        <a class="linkbutton" href="/">Return</a>
        <div class="sep">|</div>
        <a class="linkbutton" href="/list?username={{user.username}}">History</a>
        <div class="sep">|</div>
        <div class="action_button" id="logout">Logout</div>
    </div>
</div>
{% endblock %}