:root {
    --color_1: rgb(67 130 137)
}

body, html {
    font-size: 20px;
    background-color: white;
    color: black;
}

#top {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.action_button {
    font-size: 1rem;
    color: var(--color_1);
    cursor: pointer;
}

.action_button:hover {
    text-decoration: underline;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.linkbutton:link, a.linkbutton:visited {
    text-decoration: none;
    color: var(--color_1);
}

a.linkbutton:hover {
    text-decoration: underline;
}