:root {
    --color_1: rgb(67 130 137)
}

body, html {
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

#top {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.action_button {
    font-size: 1rem;
    color: var(--color_1);
    cursor: pointer;
}

.action_button:hover {
    text-decoration: underline;
}

#links {
    margin-top: 0.5rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.linkbutton:link, a.linkbutton:visited {
    text-decoration: none;
    color: var(--color_1);
}

a.linkbutton:hover {
    text-decoration: underline;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.table-header {
    font-weight: bold;
    background-color: #f2f2f2;
}

.link .table-cell:first-child {
    border-left: 1px solid #ddd;
}

.link .table-cell {
    border-right: 1px solid #ddd;
}

.table-cell {
    flex: 1;
    padding: 8px;
    text-align: center;
}

.checkbox-cell {
    flex: 0 0 auto;
}

.sep {
    color: grey
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}