:root {
    --color_1: rgb(67 130 137);
    --border_color: #ddd;
}

body, html {
    font-size: var(--font_size);
    font-family: var(--font_family);
}

.hidden {
    display: none !important;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.selector {
    display: flex;
    flex-direction: row;
    color: var(--color_1);
    gap: 0.5rem;
}

.selector a:link, .selector a:visited {
    color: var(--color_1);
}

.selector a:hover {
    text-decoration: underline;
}

a.linkbutton:link, a.linkbutton:visited {
    text-decoration: none;
    color: var(--color_1);
}

a.linkbutton:hover {
    text-decoration: underline;
}

#lab {
    width: 19rem;
    height: auto;
}

#you {
    width: 18rem;
    height: auto;
}

.sep {
    opacity: 0.66;
    user-select: none;
    color: inherit;
}

.rowitem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.center_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colitem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.dialog_row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.dialog_col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}

.dialog_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    justify-content: center;
    font-size: var(--font_size);
}

.dialog_container > * {
    flex: 1;
    min-width: 0;
}

#prompt_container {
    display: flex;
    flex-direction: column;
    width: 24em;
    padding: 0.15em;
    font-size: var(--font_size);
}

#prompt_input {
    font-family: var(--font_family);
    font-size: 1em;
    padding: 0.42em;
    border: 4px solid #dbdbdb;
    flex-grow: 1;
    flex-shrink: 1;
    outline: none;
    box-sizing: border-box;
}

#prompt_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.prompt_button {
    font-size: 1em;
    padding: 0.32em;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    color: white;
    background-color: rgb(127 104 164);
    cursor: pointer;
}

#prompt_submit {
    flex-grow: 1;
    flex-shrink: 1;
}

.prompt_button:hover {
    background-color: rgb(133 116 161);
    filter: brightness(1.1);
}

.prompt_button_2 {
    background-color: rgb(74 153 162);
    flex-grow: 0;
    flex-shrink: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prompt_button_2:hover {
    background-color: rgb(80 169 179);
}

.Msg-content {
    font-family: var(--font_family);
    font-size: var(--font_size) !important;
}

.aero_button {
    display: flex;
    padding: 0.38em 0.8em;
    font-size: 1em;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--button_text_color);
    border: 1px solid #777;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    gap: 1rem;

    background: linear-gradient(to bottom,
    var(--button_background_color_1),
    var(--button_background_color_2));

    box-shadow: inset 0 1px 3px rgb(0 0 0 / 30%);
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    transition: all 0.2s ease-in-out;
    min-width: 11.5em;
    user-select: none;
}

.aero_button:hover {
    background: linear-gradient(to bottom,
    var(--button_background_color_1),
    var(--button_background_color_3));

    border-color: var(--button_background_color_3);
}

.aero_button:active {
    background: linear-gradient(to bottom,
    var(--button_background_color_3),
    var(--button_background_color_2));
}

.aero_text {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.aero_arrow {
    flex-grow: 0;
    flex-shrink: 0;
}

#confirmbox_message {
    white-space: pre-wrap;
    max-width: 36rem;
}

#confirmbox_buttons {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#confirmbox_buttons .aero_button {
    min-width: 4rem;
}

.md_highlight {
    font-weight: bold;
    color: var(--alt_color);
}

.popmsg_content {
    outline: none;
}

.popmsg_content a:link, .popmsg_content a:visited {
    color: rgb(91, 94, 255) !important;
    font-weight: bold;
}

.popmsg_content a:hover {
    text-decoration: underline !important;
}

.unselectable {
    user-select: none;
}

.strike {
    text-decoration: line-through;
    opacity: 0.7;
}

.ace_marker-layer .ace_selection {
    background: rgb(59 84 91) !important;
}

.ace_active-line {
    background: transparent !important;
}

a.button:link, a.button:visited {
    text-decoration: none;
}

a.button:hover {
    text-decoration: underline;
}

.button {
    color: var(--link_color);
    cursor: pointer;
    user-select: none;
}

.button:hover {
    text-decoration: underline;
}

.mono {
    font-family: monospace !important;
}

.Msg-content select {
    background-color: var(--button_background_color_1);
    border: 1px solid var(--button_background_color_2);
    color: var(--button_text_color);
    cursor: pointer;
    font-size: 0.86rem;
}

#settings_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 24em;
    padding: 0.15em;
}

.settings_label {
    font-weight: bold;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

input[type="text"].settings_widget {
    font-size: 1rem;
    width: 12rem;
    padding: 0.1rem;
    text-align: center;
}

select.settings_widget {
    font-size: 1rem;
    padding: 0.1rem;
    width: 12rem;
    text-align: center;
}

.settings_button {
    background-color: var(--button_background_color_1);
    color: var(--button_text_color);
    border: 1px solid var(--button_background_color_2);
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

.settings_button:hover {
    background-color: var(--button_background_color_3);
    border-color: var(--button_background_color_2);
}

.settings_button:active {
    background-color: var(--button_background_color_2);
}

#settings_buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icon_button {
    cursor: pointer;
    user-select: none;
}

.icon_button:hover {
    filter: brightness(1.1);
}

.info_option {
    font-size: 0.9rem;
}

#Msg-window-corner_msg {
    cursor: pointer !important;
    outline: 2px solid transparent !important;
    transition: outline-color 0.25s ease-in-out !important;
    user-select: none;
}

#Msg-window-corner_msg:hover {
    outline-color: rgb(128, 211, 128) !important;
}

.button_text_number {
    padding-right: 0.5rem;
    opacity: 0.8;
    flex-grow: 0;
    flex-shrink: 0;
}

.button_text_label {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
}

.button_highlight .button_text_label {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

#msgbox {
    white-space: pre-wrap;
    max-height: 80vh;
    max-width: 80vw;
    padding: 1rem;
    word-break: break-word;
}