:root {
    --color_1: rgb(67 130 137);
    --border_color: #ddd;
}

body, html {
    font-size: 20px;
    font-family: sans-serif;
}

.hidden {
    display: none !important;
}

dialog {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.dialog_container {
    padding-top: 0.8rem;
}

.dialog_container button {
    font-size: 1rem;
    min-width: 9rem;
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.selector {
    display: flex;
    flex-direction: row;
    color: var(--color_1);
    gap: 0.5rem;
}

.selector a:link, .selector a:visited {
    color: var(--color_1);
}

.selector a:hover {
    text-decoration: underline;
}

.action_button {
    font-size: 1rem;
    color: var(--color_1);
    cursor: pointer;
    user-select: none;
}

.action_button:hover {
    text-decoration: underline;
}

a.linkbutton:link, a.linkbutton:visited {
    text-decoration: none;
    color: var(--color_1);
}

a.linkbutton:hover {
    text-decoration: underline;
}

#lab {
    width: 320px;
    height: auto;
}

#you {
    width: 320px;
    height: auto;
}

.sep {
    opacity: 0.66;
    user-select: none;
    color: inherit;
}

.rowitem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.colitem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nowrap {
    white-space: nowrap;
}