:root {
    --padding_1: 0.6rem;
}

body, html {
    color: var(--font_color);
    background-color: var(--background_color);
    font-family: var(--font_family);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button[type="submit"] {
    background-color: var(--accent_color);
    font-family: var(--font_family);
    color: var(--font_color);
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    flex-grow: 0;
    flex-shrink: 0;
    filter: brightness(88%);
}

button[type="submit"]:hover {
    background-color: var(--accent_color);
    cursor: pointer;
    filter: brightness(100%);
}

input[type="text"] {
    font-family: var(--font_family);
    text-align: center;
}

input[type="file"] {
    font-size: 1rem;
    width: 100vw;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-family: var(--font_family);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 500px;
}

#form {
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    max-width: 100%;
	gap: 1.2rem;
}

a:link, a:visited {
    color: var(--link_color);
    text-decoration: underline;
}

a:hover {
    filter: brightness(1.5);
}

#image {
    width: 300px;
    margin-bottom: 1.5rem;
    max-height: 300px;
    object-fit: contain;
}

#image:hover {
    cursor: pointer;
    outline: 5px solid var(--accent_color);
}

#picker_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

#file_size {
    align-self: center;
}

#picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent_color);
    padding: var(--padding_1);
    box-sizing: border-box;
}

#captcha {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    background-color: var(--accent_color);
    padding: var(--padding_1);
    box-sizing: border-box;
    width: 100%;
}

#captcha img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#captcha input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

#bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: var(--padding_1);
    background-color: var(--accent_color);
    box-sizing: border-box;
}

#key {
    font-size: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
}

#info {
    display: flex;
    flex-direction: row;
    gap: 0.777rem;
    align-items: center;
    justify-content: center;
}

#comment {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}