:root {
    --padding_1: 0.5rem;
}

body, html {
    color: var(--font_color);
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

#buttons button {
    background-color: var(--accent_color);
    font-family: inherit;
    color: var(--font_color);
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.12rem;
    padding-bottom: 0.12rem;
    flex-grow: 1;
    flex-shrink: 1;
    filter: brightness(88%);
    border-color: #6b6b81;
}

#buttons button:hover {
    background-color: var(--accent_color);
    cursor: pointer;
    filter: brightness(100%);
}

input[type="text"] {
    font-family: inherit;
    text-align: center;
}

input[type="file"] {
    font-size: 1rem;
    width: 100vw;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-family: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    width: 24rem;
}

#form {
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    max-width: 100%;
	gap: 0.9rem;
}

a:link, a:visited {
    color: var(--link_color);
    text-decoration: underline;
}

a:hover {
    filter: brightness(1.5);
}

a.dialog_button:link, a.dialog_button:visited, a.dialog_button:hover {
    display: inline-block;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    background: rgb(127 104 164);
    color: white;
    cursor: pointer;
    text-decoration: none;
    min-width: 12rem;
    border: none;
    outline: none;
}

a.dialog_button:hover {
    filter: brightness(1.2);
}

.button {
    color: var(--link_color);
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.5);
}

#image {
    width: 15rem;
    margin-bottom: 1.1rem;
    max-height: 15rem;
    object-fit: contain;
    outline: 5px solid transparent;
    transition: outline-color 0.55s;
}

#image:hover {
    cursor: pointer;
    outline-color: var(--accent_color);
}

#video {
    width: 360px;
    max-height: 300px;
    margin-bottom: 1.25rem;
}

#file_size {
    align-self: center;
}

#pickers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.picker {
    background-color: var(--accent_color);
    padding: var(--padding_1);
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}

.picker:hover {
    outline: 1px solid var(--text_color);
}

#bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: var(--padding_1);
    background-color: var(--accent_color);
    box-sizing: border-box;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
}

#info {
    margin-bottom: 0.6rem;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 0.777rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

#title {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem;
}

.link {
    user-select: none;
}

#file {
    cursor: pointer;
}

#toprow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
    gap: 0.5rem;
}

#zip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
    gap: 0.5rem;
}

input[type="checkbox"] {
    width: 0.88rem;
    height: 0.88rem;
}