:root {
    --color_1: rgb(222 211 239);
}

body, html {
    color: white;
    background-color: rgb(81 81 81);
    font-family: monospace;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 16px;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a:link, a:visited {
    color: white;
}

.link:hover {
    font-weight: bold;
}

img {
    height: 15rem;
}

img:hover {
    outline: 2px solid white;
}

.button {
    color: var(--color_1);
    cursor: pointer;
    text-decoration: underline;
}

.button:hover {
    text-decoration: underline;
    filter: brightness(1.5);
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.no_expand {
    align-self: flex-start;
}