body, html {
    color: var(--font_color);
    background-color: var(--background_color);
    font-family: var(--font_family);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 64px;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.05rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#file {
    margin-top: 0.22rem;
}

.title {
    font-weight: bold;
}

hr {
    width: 100%;
    margin: 0;
}

a:link, a:visited {
    color: var(--link_color);
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a.button:link, a.button:visited {
    text-decoration: none;
}

a.button:hover {
    text-decoration: underline;
}

.button {
    color: var(--link_color);
    cursor: pointer;
    user-select: none;
}

.button:hover {
    text-decoration: underline;
}

.button:hover, a.link:hover {
    filter: brightness(1.5);
}

#embed {
    margin-top: 0.5rem;
}

#image {
    max-width: 60%;
    height: auto;
    max-height: 600px;
    cursor: pointer;
}

#video {
    min-width: 450px;
    max-width: 60%;
    height: auto;
    background-color: var(--link_color);
    max-height: 600px;
}

.text_embed {
    border-width: 1px;
    border-style: solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-color: var(--frame_color);
}

#text_view {
    white-space: pre-wrap;
}

#image_modal {
    display: flex;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--modal_background);
    cursor: pointer;
}

#image_modal_content {
    width: 77%;
    height: 77%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_color);
    border: 2px solid var(--frame_color);
}

#image_modal_img {
    max-width: 100%;
    max-height: 100%;
}

.dialog_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.dialog_container button {
    font-size: 1rem;
    min-width: 9rem;
}

#icons_modal {
    display: flex;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--modal_background);
}

#icons_container {
    padding: 0.6rem;
    background-color: var(--background_color);
    border: 2px solid var(--frame_color);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.icon_item {
    cursor: pointer;
}

#icons_input {
    font-size: 1rem;
}

#icons {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    overflow: auto;
    gap: 0.5rem;
}

.icon_item {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-content: center;
    user-select: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon_item_text {
    display: flex;
    align-items: center;
}

.icon_item_img {
    display: flex;
    align-items: center;
    height: 1.4rem;
    width: auto;
}

.icon_item:hover {
    text-shadow: 0 0 1px var(--text_color);
}

.selected {
    background-color: var(--highlight_color);
}

#reactions {
    margin-top: 0.5rem;
    max-width: 800px;
    background-color: var(--contrast_background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
    padding: 0.35rem;
}

.reaction_item {
    height: 1.8rem;
    width: auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#react_buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}