body, html {
    color: var(--font_color);
    background-color: var(--background_color);
    font-family: var(--font_family);
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#title {
    font-size: 1.16rem;
}

.title {
    font-weight: bold;
    padding-right: 0.5rem;
}

hr {
    width: 100%;
}

.sep {
    opacity: 0.66;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

.button {
    user-select: none;
}

a:link, a:visited {
    color: var(--link_color);
}

a:hover {
    filter: brightness(1.5);
}