{% extends "base.html" %}

{% block head %}
<title>Admin</title>
<style>
    body, html {
        font-size: 20px;
    }

    #links {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 0.8rem;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .delete {
        color: rgb(67, 130, 137);
        cursor: pointer;
    }

    .delete:hover {
        text-decoration: underline;
    }

    #delete_all {
        font-size: 1rem;
        color: rgb(67, 130, 137);
        cursor: pointer;
    }

    #delete_all:hover {
        text-decoration: underline;
    }

    a:link, a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<script>
    let password = `{{ password }}`

    window.onload = () => {
        document.addEventListener(`click`, async (e) => {
            if (e.target.classList.contains(`delete`)) {
                let name = e.target.dataset.name

                if (confirm(`Delete: ${name}`)) {
                    delete_file(name, e.target)
                }
            }
        })

        let delete_all = document.getElementById(`delete_all`)

        delete_all.addEventListener(`click`, () => {
            if (confirm(`Delete All`)) {
                delete_all_files()
            }
        })
    }

    async function delete_file(name, el) {
        try {
            let response = await fetch(`/delete`, {
                method: `POST`,
                headers: {
                    "Content-Type": `application/json`
                },
                body: JSON.stringify({name, password})
            })

            if (response.ok) {
                el.closest(`.link`).remove()
            } else {
                console.error(`Error:`, response.status)
            }
        }
        catch (error) {
            console.error(`Error:`, error)
        }
    }

    async function delete_all_files() {
        try {
            let response = await fetch(`/delete_all`, {
                method: `POST`,
                headers: {
                    "Content-Type": `application/json`
                },
                body: JSON.stringify({password})
            })

            if (response.ok) {
                document.getElementById(`links`).innerHTML = ``
            } else {
                console.error(`Error:`, response.status)
            }
        }
        catch (error) {
            console.error(`Error:`, error)
        }
    }
</script>
{% endblock %}

{% block body %}
<div id="delete_all">Delete All</div>

<div id="links">
    {% for file in files %}
    <div class="link">
        <a href="/files/{{ file.name }}">{{ file.name }}</a>
        <span>({{ file.size }} mb)</span>
        <span class="delete" data-name="{{ file.name }}">Delete</span>
    </div>
    {% endfor %}
</div>
{% endblock %}