{% extends "base.html" %}

{% block head %}
<title>Upload</title>

<script>
    let max_size = {{ max_size }}

    window.onload = () => {
        let captcha = document.querySelector(`#captcha-text`)
        captcha.placeholder = `Enter the captcha`
    }

    function validate() {
        let captcha = document.querySelector(`#captcha-text`)

        if (!captcha.value.trim()) {
            return false
        }

        let code = document.querySelector(`#code`)

        if (!code.value.trim()) {
            return false
        }

        let fileInput = document.querySelector(`#file`)

        if (fileInput.files.length > 0) {
            let file = fileInput.files[0]

            if (file.size > max_size) {
                return false
            }
        }

        return true
    }
</script>
{% endblock %}

{% block body %}
<div id="main">
    <img id="image" src="static/img/cat.jpg">

    <form id="form" action="/" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        <div id="picker">
            <input id="file" type="file" name="file" required>
        </div>

        <div id="captcha">
            {{ captcha_html(captcha)|safe }}
        </div>

        <div id="bottom">
            <input id="code" type="text" name="code" placeholder="Enter the code" required>
            <button type="submit" name="submit">Upload</button>
        </div>
    </form>
</div>
{% endblock %}